<style>
    .section-title {
        text-align: center;
        padding: 0 2rem;
        color: #d1ab5f;
        font-size: 2.5rem;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
    }

    .abt-txt p {
        font-size: 20px;
        font-weight: 500;
    }

    .abt-txt h6 {
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }

    .abt-blk h6 {
        font-size: 12px;
    }

    .each-abt .abt-l .abt-l-inner {
        background-color: #efefef;
        padding: 1rem !important;
        margin: 5px;
    }

    .title-img {
        text-align: center;
    }

    .each-abt .abt-l img {
        height: 140px;
    }

    .each-abt .abt-l .abt-txt {
        text-align: center;
        font-family: 'Roboto-Medium' !important;
    }

    .each-abt .img-b img {
        width: 100%;
    }

    .section-title-2 {
        text-align: center;
        padding: 0 2rem;
        color: #d1ab5f;
        font-size: 1.5rem;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
    }

    .section-heading-2 {
        text-align: center;
        background-color: transparent;
        padding: 1rem 0 !important;
        margin-bottom: 1rem;
    }

    .section-heading {
        background-color: #efefef;
        padding: 1rem 0 !important;
    }

    .section-heading-2 .abt-txt {
        text-align: center;
        font-family: 'Roboto-Medium' !important;
        padding: 0 15rem;
    }

    .section-heading .abt-txt {
        text-align: center;
        font-family: 'Roboto-Medium' !important;
        padding: 0 15rem;
    }

    .section-heading .title-img img {
        width: 300px;
    }

    .section-heading-2 .title-img img {
        width: 300px;
    }

    .mr-btn {
        padding: .3rem 1rem;
        background-color: #e3003fe8;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

    .container-fluid {
        background-color: #efefef;
    }


    section.each-sec {
        background-color: #ffffff;
        padding: 1rem !important;
        margin-bottom: 0;
    }

    hr.hr-abt {
        background-color: #efefef;
        height: 1rem;
        margin: 0;
        border: 0;
    }

    .footer {
        margin-top: 0 !important;
        padding-top: 0;
    }

    @media only screen and (max-width: 767px) {
        .section-title {
            font-size: 1.5rem;
        }
        .abt-txt p {
            font-size: 13px;
        }
        .abt-txt h6 {
            font-size: 11px;
        }
        .abt-blk h6 {
            font-size: 10px;
            line-height: 23px;
        }
        .section-heading .abt-txt {
            padding: 0;
        }
        .abt-begin h6 {
            padding: 1rem;
        }
    }
</style>
<!-- About Us begin -->
<div class="container-fluid">
    <section class="container p-0 ">


        <div class="row m-0 each-abt ">
            <div class="col-12 col-md-6 abt-l  p-c">

                <div class="title-img"><img src="/home-img/about-flower.png" alt=""></div>
                <div class="section-title chequers-font">About Khimji</div>
                <div class="abt-txt">
                    <p> Transcending our golden legacy of 85 years </p>
                    <p> Khimji jewellers today, is an ode to its thought-leader, Khimji Dayabhai. </p>

                    <h6>Started in 1936 Khimji has a legacy that extends the pre-independence era. Pioneer in quality,
                        handcrafted jewellery Khimji was started as a humble shop in Baripada, a northern town in the
                        princely district of Mayurbhanj by Shri. Khimji Dayabhai.
                        Keeping the core principles intact today Khimji is Odisha’s leading jewellery brand with stores
                        in Bhubaneswar, Cuttack, Berhampur, Rourkela & Jharsugda
                    </h6>

                </div>
            </div>
            <div class="col-12 col-md-6 img-b p-c">
                <img src="/home-img/about-1.png" alt="">
            </div>

        </div>
    </section>
</div>

<!-- About Us  end -->

<div class="container-fluid p-0">
    <div class="section-heading">
        <div class="section-title chequers-font section-title">About us</div>
        <div class="abt-txt abt-begin">
            <h6>Khimji Jewellers, one of Odisha’s most trusted jewellery brands has always believed in the idea of
                placing people before profits.
                Since four generations, it has put the priceless sentiments of its customers ahead of surging gold
                prices.
                And upholding these values of love, trust and commitment, it brings you Dhanlaxmi Jewellery Purchase
                Plan.
                A special offer that lets you make payment in easy monthly instalments and take home your most coveted
                jewellery.
                Because your moments of happiness are too precious to lose their sheen. Register today to avail this
                unique plan.*</h6>
        </div>

    </div>
</div>

<div class="container-fluid">
    <section class="container p-0 abt-blk each-sec">


        <div class="row m-0 each-abt ">
            <div class="col-12 col-md-6 abt-l  p-c">

                <div class="title-img"><img src="/home-img/icon_1.png" alt=""></div>
                <div class="section-title-2 chequers-font">Our heritage</div>
                <div class="abt-txt">

                    <h6>Commenced in 1936, the first Khimji showroom was established by Shri KhimjiDayabhai in Baripada,
                        a northern town in the princely district of Mayurbhanj. Keeping intact their core strengths of
                        integrity,
                        reliability and purity,the Khimji brand ventured into the then-new capital of Odisha,
                        Bhubaneswar in 1984 by
                        establishing their first organised jewellery store there. The invincible popularity and
                        confidence of the people
                        of Odisha in the Khimji brand led to the establishment of a bigger showroom covering 5 levels by
                        the second generation in 1999.
                        Along with the conventional, gold,
                        diamond and silver jewellery, it presented Italian, Turkish jewellery to Odisha for the first
                        time.
                    </h6>

                </div>
            </div>
            <div class="col-12 col-md-6 img-b p-c">
                <img src="/img/3Legacy-1.jpg" alt="">
            </div>

        </div>
    </section>
</div>
<hr class="hr-abt">
<div class="container-fluid">
    <section class="container p-0 abt-blk each-sec">


        <div class="row m-0 each-abt ">
            <div class="col-12 col-md-6 abt-l  p-c">

                <div class="title-img"><img src="/home-img/icon_2.png" alt=""></div>
                <div class="section-title-2 chequers-font">Our Philosophy</div>
                <div class="abt-txt">

                    <h6>Khimji has always believed in the essence of transparency,
                        superlative quality and core value system.
                        These three principles acted as the pillars on which the foundation of Khimji was laid by the
                        Founder,
                        Shri KhimjiDayabhai. His hand-written bills noted everything in detail starting from the date,
                        gold rate and the exact price of products, testified on the importance of an honest jeweller.
                    </h6>

                </div>
            </div>
            <div class="col-12 col-md-6 img-b p-c">
                <img src="/img/3Legacy-2.jpg" alt="">
            </div>

        </div>
    </section>
</div>
<hr class="hr-abt">
<div class="container-fluid">
    <section class="container p-0 abt-blk each-sec">


        <div class="row m-0 each-abt ">
            <div class="col-12 col-md-6 abt-l  p-c">

                <div class="title-img"><img src="/home-img/icon_3.png" alt=""></div>
                <div class="section-title-2 chequers-font">Our legacy</div>
                <div class="abt-txt">

                    <h6> For over 84 years Khimji has adorned the legacy trail left by its founder with utmost
                        precision.
                        Transparency, quality and value have remained true all this time, indeed, became an integral
                        part of Khimji’s traditions.
                        Our founder Late Shri KhimjiDayabhai inspires us and we abide by the moral imperative to
                        practicehis principles every single day.
                    </h6>

                </div>
            </div>
            <div class="col-12 col-md-6 img-b p-c">
                <img src="/img/3Legacy-3.jpg" alt="">
            </div>

        </div>
    </section>
</div>
<hr class="hr-abt">