<style>
    .footer .container {
        width: 90% !important;
        margin: auto;
        /* max-width: 1140px; */
    }


    .foo-block {
        padding: 1.5rem 0;
        background-color: #000;
        color: #ffffff;
    }

    .foo-block span {
        font-size: 13px;
    }

    .top-b {
        margin-bottom: 2rem;
    }

    .top-b .social img {
        height: 50px;
        margin: 0 1rem;
    }

    .footer-catg {
        background-color: #000;
        color: #ffffff;
    }

    .footer-icon-b {
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;
        align-items: center;
    }

    .footer-icon-b .each-b-icon {
        margin: 0 2rem;
    }

    .category-b {
        padding: 1.5rem 0;
        display: flex;
        justify-content: space-around;

    }

    .each-footer-b .foo-title strong {
        font-size: 13px;
        font-weight: 600;
    }

    .each-footer-b ul {
        padding-left: 0;
        list-style: none;
    }

    .each-footer-b ul {
        font-size: 14px;
    }

    .each-footer-b ul li {
        margin: 12px 0;

    }

    .each-footer-b ul a {
        color: #ffffff;
    }

    .each-b-icon a {
        margin: 0 10px;
    }

    .each-b-icon a img {
        width: 30px;
        height: auto;
    }

    .each-b-icon a i {
        color: #606060;
    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:not(:disabled):not(.disabled):active {
        background-color: #606060;
        border-color: #606060;
    }

    .btn-primary.focus,
    .btn-primary:focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus {
        background-color: #606060;
        border-color: #606060;
    }

    .foot-loca-b .each-loca {
        font-size: 13px;
        display: grid;
    }

    .foot-loca-b .each-loca span:first-child {
        color: #c69b45;
        font-weight: 600;
    }

    .foot-locations .open-dt {
        color: #c69b45;
        font-weight: 700;
        font-size: 13px;
    }

    .foot-locations {
        padding: 1.5rem 0;
    }

    .foot-locations h6 {
        font-size: 12px;
        font-style: italic;
    }

    .foot-locations .vl {
        border-left: 3px solid #c69b45;
        height: inherit;
        margin-right: 1rem;
    }

    .foot-locations .toll-free {
        display: grid;
        font-size: 14px;
    }

    .foot-locations .toll-free span:first-child a {
        font-weight: 600;
        color: #c69b45;
    }

    .foot-locations .toll-free span i {
        color: #c69b45 !important;
        margin: 0 10px;
        font-size: 16px;
    }

    .bg-locations-img {
        background: url('/img/Desktop-branches.png');
        background-repeat: no-repeat;
        background-size: auto;
        height: 100px;
    }

    .title-footer {
        text-align: center;
    }

    .title-footer img {
        width: 200px;
    }

    @media only screen and (max-width: 767px) {
        .category-b {
            text-align: center !important;
        }
        /* .col-md-12 {
            padding-top: 30px;
        } */


        .desc {
            text-align: center;
        }

        .mob-center {
            text-align: center;
        }
    }
</style>
<footer>
    <div class="foot-locations" style="display: none;">

        <div class="row m-0">
            <div class="col-md-12">
                <img src="/img/desktop-footer.svg" alt="" style="width: 100%;">
            </div>
        </div>
        <!-- <div class="row bg-locations-img">
                <div class="d-flex justify-content-between align-items-center foot-loca-b col-md-8">
                    <div class="each-loca">
                        <span>Bhuwaneshwar</span>
                        <span>Janpath Saheed Nagar</span>
                    </div>
                    <div class="each-loca">
                        <span>Bhuwaneshwar</span>
                        <span>Janpath Saheed Nagar</span>
                    </div>
                    <div class="each-loca">
                        <span>Bhuwaneshwar</span>
                        <span>Janpath Saheed Nagar</span>
                    </div>
                    <div class="each-loca">
                        <span>Bhuwaneshwar</span>
                        <span>Janpath Saheed Nagar</span>
                    </div>
                    <div class="each-loca">
                        <span>Bhuwaneshwar</span>
                        <span>Janpath Saheed Nagar</span>
                    </div>
                </div>
                <div class="foo-loc-img-b col-md-1">

                </div>
                <div class=" col-md-3 d-flex justify-content-between">
                    <div class="open-dt">
                        <span>Open on all days</span>
                    </div>
                    <div class="vl"></div>
                    <div class="toll-free">
                        <span>Toll Free <a href="#"> 1800 123 1545</a></span>
                        
                        <span style="display: inline-flex;">Follow us on 
                            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
            </div> -->

    </div>
    <section class="container-fluid p-0 m-b-0 ">
        <!-- <div class="section-title chequers-font">partner brands</div>
        <div class="title-footer"><img src="/img/d2.png" alt=""></div> -->
        <div class="row m-0">
            <div class="col col-xs-12 p-0 each-item">
                <img src="/img/footer1.png" alt="" style="width: 100%;">

            </div>
        </div>
    </section>
    <div class="footer-catg  ">
        <div class="category-b">
            <div class="each-footer-b">
                <div class="foo-title">
                    <strong>Get To Know Us</strong>
                    <hr>
                </div>
                <ul>
                    <li> <a href="/about"> About Us</a></li>
                    <li> <a href="/pages/our-stories/"> Our Stories</a></li>
                    <li> <a href="/pages/press-release/"> Press Release</a></li>
                    <!-- <li> <a href="#"> Blogs</a></li>
                        <li> <a href="/pages/awards-reviews/"> Awards and Reviews</a></li>
                        <li> <a href="#"> Brides of Odisha</a></li>
                        <li> <a href="#"> Khimji Foundation</a></li> -->

                </ul>
            </div>
            <div class="each-footer-b">
                <div class="foo-title">
                    <strong>Khimji Guarantee</strong>
                    <hr>
                </div>
                <ul>
                    <!-- <li> <a href="/pages/insurance"> Insurance</a></li> -->
                    <!-- <li> <a href="/pages/14-days-return-policy"> 14 Days Return Policy</a></li> -->
                    <li> <a href="/pages/certified-diamonds/"> Certified Diamonds</a></li>
                    <!-- <li> <a href="/pages/easy-exchange"> Easy Exchange</a></li> -->
                    <li> <a href="/pages/BIS-916/"> BIS 916 Hallmarked</a></li>
                    <!-- <li> <a href="/pages/guaranteed-buyback/"> Guaranted Buyback</a></li> -->
                </ul>
            </div>
            <div class="each-footer-b">
                <div class="foo-title">
                    <strong>Let Us Help You</strong>
                    <hr>
                </div>
                <ul>
                    <li> <a href="/pages/faq/"> FAQ</a></li>
                    <!-- <li> <a href="#"> Track My Order</a></li>
                        <li> <a href="#"> Ring Size Guide</a></li>
                        <li> <a href="#"> Bangle Size Guide</a></li> -->
                    <li> <a href="/pages/sitemap/">Site Map</a></li>
                </ul>
            </div>
            <div class="each-footer-b">
                <div class="foo-title">
                    <strong>Our Policies</strong>
                    <hr>
                </div>
                <ul>
                    <li><a href="https://dev.khimjionline.in/pages/dhanLaxmi-plan">Dhanlaxmi Scheme Policy</a></li>
                    <!-- <li> <a href="/pages/refund-policy/">Refund Policy </a></li> -->
                    <!-- <li> <a href="/pages/buy-back-policy/">Buyback Policy</a></li>                         
                        <li> <a href="/pages/exchange-policy/">Exchange Policy </a></li>-->
                    <li><a href="/pages/privacy-policy/">Privacy Policy</a></li>
                    <li> <a href="/pages/return-policy/">Return Policy </a></li>
                </ul>
            </div>
            <!-- <div class="each-footer-b">
                    <div class="foo-title">
                        <strong>Collections</strong>
                        <hr>
                    </div>
                    <ul>
                        <li> <a href="#"> Wedding Collection</a></li>
                        <li> <a href="#"> Daily Collection</a></li>
                        <li> <a href="#"> Officewear Collection</a></li>
                        <li> <a href="#"> Latest Colleciton</a></li>
                    </ul>
                </div> -->
            <div class="each-footer-b">
                <div class="foo-title">
                    <strong>Customer Services</strong>
                    <hr>
                </div>
                <ul>
                    <li><a href="tel:1800 313 1777">1800 313 1777</a></li>
                    <li> <a href="mailto:customercare@khimji.co.in">customercare@khimji.co.in</a></li>
                    <li><a href="https://goo.gl/maps/VbftHDaombET6ESA8" target="_blank">621, Janpath Rd, Saheed Nagar, Bhubaneswar, Odisha 751007</a></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- <div class="footer-icon-b" style="display: none;" >
        <div class="each-subscribe">
            <div class="input-group">
                <input type="text" id="subscribeName" placeholder="enter you email address" class="form-control">
                <button class="btn btn-primary">Subscribe</button>
            </div>
        </div>
        <div class="each-b-icon">
            <a rel="noreferrer" target='_blank' class="each-icon">
                <img src="/img/fb.png" alt="fb">
            </a>
            <a rel="noreferrer" target='_blank' class="each-icon">
                <img src="/img/youtube.png" alt="youtube">
            </a>
            <a rel="noreferrer" target='_blank' cclass="each-icon">
                <img src="/img/twitter.png" alt="twitter">
            </a>
            <a rel="noreferrer" target='_blank' class="each-icon">
                <img src="/img/pinterest.png" alt="pinterest">
            </a>
            <a rel="noreferrer" target='_blank' class="each-icon">
                <img src="/img/inst.png" alt="inst">
            </a>
        </div>
        <div class="each-b-icon" >
            <a rel="noreferrer" target='_blank' class="each-icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a rel="noreferrer" target='_blank' class="each-icon">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a rel="noreferrer" target='_blank' cclass="each-icon">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a rel="noreferrer" target='_blank' class="each-icon">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
            </a>
        </div>
    </div> -->
    <div class=" foo-block">
        <div class="row m-0" style="text-align: center;">
            <div class="col-md-12">
                &copy; <span>2020-2021 Khimji Jewellers. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>