<div class="row m-0">
	<div class="col-md-2">

	</div>
	<div class="col-md-9">
			@{if model.pages > 1}
			<div class="pagination" style="justify-content: center">
				<nav>
					<!-- "pagination" helper is defined in /definitions/helpers.js -->
					@{helpers.pagination(model)}
				</nav>
			</div>
			@{fi}
		</div>
</div>
