<!-- <div class="bottom">
	@{view('partials/bottom-block')}

	
</div> -->
<style>
	.row {
		margin: 0 !important;
	}

	#filter-names {
		font-size: 15px;
	}

	#filter-names p {
		display: flex;
		justify-content: space-between;
	}

	#filter-names p span i {
		cursor: pointer;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	.prod-filters .dropdown-toggle {
		text-decoration: none;
		padding: 1rem;
		text-transform: uppercase !important;
		font-size: 13px;
		font-weight: 600 !important;
	}

	.prod-filters .dropdown-toggle::after {
		margin-left: .5rem;
	}

	.prod-filters .dropdown {
		position: relative !important;
		border-top: 1px solid transparent;
		border-left: 1px solid transparent;
		border-bottom: 1px solid transparent;
		border-right: 1px solid #ccc;
		margin-left: 1rem;
		padding: .5rem;
	}

	.prod-filters .dropdown:first-child {
		margin-left: 0 !important;
	}

	.prod-filters .dropdown.show {
		border: 1px solid #ccc;
	}

	.prod-filters .dropdown-menu {
		position: absolute;
		float: none;
		width: fit-content !important;
		padding: .8rem;
		width: 300px !important;
	}

	.prod-filters .dropdown-menu li a {
		text-decoration: none;
		font-weight: 600 !important;
		font-size: 13px;

	}

	.prod-filters .dropdown-menu li {
		margin-bottom: 1rem !important;
	}

	.filters-border {
		border-bottom: 1px solid #ccc !important;
		padding-bottom: 10px !important;
		margin-bottom: 1rem !important;

	}

	.prod-stock .dropdown {
		border: 1px solid #ccc !important;
	}

	.prod-stock .dropdown-menu {
		width: 200px !important;
	}

	.prod-name-d {
		padding: 15px 15px 0 15px;
		color: #8e1f1e;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
	}

	@media only screen and (max-width: 767px) {
		.prod-filters .dropdown {
			margin: 0;
			padding: 0;
		}

		.prod-filters .dropdown-toggle {
			padding: 5px !important;
			font-size: 8px;
		}

		.prod-name-d {
			padding: 5px 5px 0 0px !important;
			margin-bottom: 0 !important;
			font-size: 13px;
		}

		.product {
			background-color: #ffffff;
		}

		.desktop {
			display: none;
		}

		.mobile {
			display: block;
		}

		.product {
			border-bottom: 1px solid #dfdfdf !important;
		}

		.product img {
			height: auto !important;
		}

		.product .name {
			white-space: normal !important;
			border: 0 !important;
		}

		.container-edit {
			width: 100% !important;
		}

		.categories-filters {
			padding: 0 !important;
		}

		.prod-stock .dropdown-menu {
			left: auto;
			right: 0;
			padding: .2rem;
		}
		.prod-filters .dropdown-menu {
			width: auto !important;
			padding: .2rem;
		}
		.prod-filters .dropdown-menu li {
			margin-bottom: 0 !important;
		}
		.prod-filters .dropdown-menu li a{
			font-size: 9px;
		}
	}
</style>


<div class="products-row p-0">

	<nav class="navbar navbar-inverse categories-filters">
		<div class="container-fluid p-0 filters-border">

			<ul class="nav navbar-nav prod-filters" style="display: flex !important;flex-direction: row;">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Brands
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Khimji (20)</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Product Type
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Ring (35)</a></li>
						<li><a href="#">Ear Ring (42)</a></li>
						<li><a href="#">Pendant (65)</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Stock Status
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Ready For Shipping (141)</a></li>
						<li><a href="#">Smart Buy (66)</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Price
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Rs.0 - Rs.10,000 (30)</a></li>
						<li><a href="#">Rs.10,000 - Rs.20,000 (50)</a></li>
						<li><a href="#">Rs.20,000 - Rs.30,000 (10)</a></li>
						<li><a href="#">Rs.30,000 and above (200)</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav prod-filters prod-stock" style="display: flex !important;flex-direction: row;">

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort By
						<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Position : POPULAR</a></li>
						<li><a href="#">NAME : A - Z</a></li>
						<li><a href="#">NAME : Z - A</a></li>
						<li><a href="#">PRICE : LOW TO HIGH</a></li>
						<li><a href="#">PRICE : HIGH TO LOW</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!--div class="col-md-2 filters">

		@{view('/partials/filters/mobiles')}
		
	</div-->
	<div class=" mob-prod">
		@{if model.metaTag}
		<div class="row m-0">
			<h1 style="font-size: 14px;">
				@{model.metaTag.keywords}
			</h1>
		</div>
		@{fi}
		<div class="row m-0">


			@{foreach m in model.items}

			<div class="col-md-3 col-6 mob-each-prod desktop">
				<div class="product" data-currency="@{global.config.currency_entity}">
					<!-- @{if m.isnew}
					<div class="flags">
						@{if m.isnew}<span style="background-color:#8CC152">@(NEW)</span>@{fi}
						@{if m.istop}<span style="background-color:#DA4453">@(TOP)</span>@{fi}
					</div>
					@{fi} -->

					<a href="/@{m.linker}" class="image">
						<img src="https://khimji.s3.amazonaws.com/khimji/@{m.pictures[0]}.jpg" border="0"
							alt="@{m.name}" /></a>
					@{if m.size && m.size.length}
					<div class="sizes">
						@{foreach a in m.size}
						<span>@{a}</span>
						@{end}
					</div>
					@{fi}

					<a href="/@{m.linker}" class="name" style="color: #8e1f1e;">@{m.name}</a>
					@{if m.manufacturer != ''}
					<a href="@{if !url || url === '/'}@{sitemap_url('category')}@{fi}?manufacturer=@{m.linker_manufacturer}"
						class="manufacturer">@{m.manufacturer}</a>
					@{else}
					<a href="javascript:void()" class="manufacturer" style="color: #fff;cursor: default;">.</a>
					@{fi}

					<div class="price d-flex justify-content-between align-items-center " style="padding:  0 15px;">

						@{if m.purchase_type == 'Store' }
						<p class="more">In Store</p>
						@{fi}



						<div class="prc">
							@{if m.mrp}

							@{if m.mrp !== m.payPrice}

							<div>
								<span class="p-c price" data-value="@{m.payPrice}"> ₹ @{m.payPrice}
									<p>l</p>
								</span>
								<span class="p-c" data-value="@{m.mrp}">₹ @{m.mrp}</span>
							</div>
							@{else}

							<div class="p-c" data-value="@{m.payPrice}">₹ @{m.payPrice}</div>
							@{fi}

							@{else}


							<div class="p-c" data-value="@{m.payPrice}">₹ @{m.payPrice}</div>
							@{fi}
						</div>
						<div class="stk d-flex align-items-center">
							@{if m.stock != 0 }

								@{if m.booking_type != 'pre-booking'}
								<!-- <a href="javascript:addToWishlist('@{m.id}')">
									<i class="fa fa-heart-o" aria-hidden="true" style="color: #8e1f1e;margin-right:.5rem !important;font-size: 1.5rem;background-color: #fff;margin-right: 0"></i>
								</a>
									<a href="javascript:itemAdd('@{m.id}')" class="more">@(Add To Cart)</a> -->

								@{else}
									<a href="javascript:itemAdd('@{m.id}')" class="more">Pre Book @ <span class="p-c"
										data-value="@{m.payPrice}">₹ @{m.payPrice}</span></a>
								@{fi}

							@{else}
								<span class="outofstock">@(Out of stock)</span>
							@{fi}
						</div>

					</div>
				</div>
			</div>


			<div class="col-md-3 col-12 mob-each-prod mobile">
				<a href="/@{m.linker}">
					<div class="row product">
						<div class="col-4 p-0">
							<img src="https://khimji.s3.amazonaws.com/khimji/@{m.pictures[0]}.jpg" border="0"
								alt="@{m.name}" width="100%" height="auto" style="padding: 15px;" />
						</div>
						<div class="col-8 p-0">
							<div class="" data-new="@{m.pricemin}" data-old="@{m.priceold}"
								data-currency="@{global.config.currency_entity}">


								@{if m.size && m.size.length}
								<div class="sizes">
									@{foreach a in m.size}
									<span>@{a}</span>
									@{end}
								</div>
								@{fi}

								<p class="prod-name-d">@{m.name}</p>

								<div class="price">

									@{if m.purchase_type == 'Store' }
									<p class="more">In Store
									<p>
										@{fi}




										@{if m.mrp !== m.payPrice}

									<div>
										<span class="p-c price" data-value="@{m.payPrice}"> ₹ @{m.payPrice} <p>l</p>
										</span><span class="p-c" data-value="@{m.mrp}">₹ @{m.mrp}</span>
									</div>
									@{else}

									<div class="p-c" data-value="@{m.payPrice}">₹ @{m.payPrice}</div>
									@{fi}





									@{if m.stock != 0 }

										@{if m.booking_type == 'pre-booking'}
										@{fi}


									@{else}
									<span class="outofstock">@(Out of stock)</span>
									@{fi}




								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

			@{end}
		</div>

		@{if model.metaTag}

		<div class="row m-0 descMetaTag">
			<p id="meta-desc">
				@{model.metaTag.description}
			</p>
		</div>

		@{fi}

	</div>
</div>

<script>
	// Measures product impressions and also tracks a standard
	// pageview for the tag configuration.
	// Product impressions are sent by pushing an impressions object
	// containing one or more impressionFieldObjects.

	var imp = [];

	console.log("DATALAYER");

	@{ foreach m in model.items }
	var each = {
		'name': '@{m.name}',       // Name or ID is required.
		'id': '@{m.id}',
		'price': '@{m.payPrice}',
		'brand': '@{m.manufacturer}',
		'category': '@{m.manufacturer}',
		'list': 'Filter & Search Results',
		'position': @{ index + 1}
		};
	imp.push(each);
	@{ end }

	dataLayer.push({
		'event': 'product_list',
		'ecommerce': {
			'currencyCode': 'INR',                       // Local currency is optional.
			'impressions': imp
		}
	});
</script>

<script>
	var url = new URL(window.location.href);


	$(document).ready(function () {

		setTimeout(() => {




			var converter = new showdown.Converter();
			var text = $('#meta-desc').html();

			$('#meta-desc').html($.parseHTML(text)[0].data);

		}, 1500);

		checkFilter();

		setFilterValues();

		$('.p-c').each(function () {
			var val = parseInt($(this).attr('data-value'));
			$(this).html(val.toLocaleString('en-IN', {
				maximumFractionDigits: 2,
				style: 'currency',
				currency: 'INR'
			}));
		});

		$('.pfilter').change(function () {

			var object = localStorage.getItem('filter') == null ? [] : JSON.parse(localStorage.getItem('filter'));

			for (var i = 0; i <= object.length; i++) {
				if (object[i]) {
					if (object[i].name == 'maxprice' || object[i].name == 'minprice') {
						object.splice(i, 1);
					}
				}

			}

			$('.pfilter').each(function (index, value) {
				var is = $(this).is(":checked");
				console.log("is", is);
				if (is) {
					var minp = $(this).attr('data-minprice');
					var maxp = $(this).attr('data-maxprice');

					var obj = {
						name: 'maxprice',
						val: maxp,
					};

					object.push(obj);

					obj = {
						name: 'minprice',
						val: minp,
					};
					object.push(obj);
					console.log(object);
				} else {
					// do nothing
				}
			});



			setTimeout(function () {
				localStorage.setItem('filter', JSON.stringify(object));
				var query = "?";

				object.forEach(function (ele) {
					query = query + ele.name + "=" + ele.val + "&";
				});
				console.log(url.pathname + query);
				let categoryPath = url.pathname.split('/');

				window.location.href = url.pathname + query;
			}, 500);




		});




		setChecked();


		function setChecked() {
			console.log('ONLOAD FILTER', localStorage.getItem('filter'));

			var object = localStorage.getItem('filter') == null ? [] : JSON.parse(localStorage.getItem('filter'));

			var c = window.location.search.indexOf('?');

			if (c == -1) {
				localStorage.removeItem('filter')
			} else {
				object.forEach(function (ele) {
					$('.filter').each(function (index, value) {
						if ($(this).attr('name') == ele.name && $(this).val() == ele.val) {
							$(this).attr("checked", "checked");
						}
					});
				});
			}
		}

		setTimeout(function () {
			$('.filter').change(function () {


				var object = [];

				$('.filter').each(function (index, value) {
					var is = $(this).is(":checked");

					if (is) {
						var obj = {
							name: $(this).attr('name'),
							val: $(this).val(),
						};
						object.push(obj);
					} else {
						// do nothing
					}
				});

				if (object.length == 0) {
					$('.clear-fiter').hide();
					localStorage.setItem('filter', JSON.stringify(object));
					let categoryPath = url.pathname.split('/');
					console.log(categoryPath);

					window.location.href = categoryPath.join('/');
				} else {
					$('.clear-fiter').show();
					setTimeout(function () {
						localStorage.setItem('filter', JSON.stringify(object));
						var query = "?";

						object.forEach(function (ele) {
							query = query + ele.name + "=" + ele.val + "&";
						});
						let categoryPath = url.pathname.split('/');
						console.log(categoryPath.join('/') + query);

						window.location.href = categoryPath.join('/') + query;
					}, 500);
				}
			});
		}, 500);




	});

	function setFilterValues() {
		let filterObj = localStorage.getItem('filter') == null ? [] : JSON.parse(localStorage.getItem('filter'));
		console.log("SET FILTER VALUES", filterObj.length);

		$('#filter-names').html(``);
		if (filterObj.length == 0) {
			$('.clear-fiter').hide();
		} else {
			for (let i = 0; i < filterObj.length; i++) {

				const element = filterObj[i];
				console.log(element);

				$('#filter-names').append(`<p> <b>${element.name} : </b> ${element.val} <span><i class="fa fa-times" aria-hidden="true" onclick="removeFilter('${element.val}')"></i></span></p>
		`);
			}

		}
	}
	function checkFilter() {
		var c = url.search.indexOf('?');

		if (c == -1) {
			$('.clear-fiter').hide();
			setFilterValues();
			// window.location.href = '/categories/mobiles/';
		} else {
			$('.clear-fiter').show();
			$('#clear-fiters').click(function () {

				var c = window.location.search.indexOf('?');

				if (c == -1) {
					console.log('no filter');
				} else {
					window.location.href = window.location.href.replace(/\?.+/, '');

				}
				localStorage.removeItem('filter');
				setFilterValues();
			});

		}
	}

	function removeFilter(params) {
		console.log('removed FILTER', localStorage.getItem('filter'));



		let filterObj2 = localStorage.getItem('filter') == null ? [] : JSON.parse(localStorage.getItem('filter'));
		console.log(filterObj2.length);
		if (filterObj2.length == 0) {
			$('.clear-fiter').hide();
		} else {
			$('.clear-fiter').show();
			for (var i = filterObj2.length - 1; i >= 0; --i) {
				if (filterObj2[i].val == params) {
					filterObj2.splice(i, 1);
				}
			}
			console.log('FILTER', filterObj2);

			localStorage.setItem('filter', JSON.stringify(filterObj2));

			let obj2 = JSON.parse(localStorage.getItem('filter'));
			var query = "?";

			obj2.forEach(function (ele) {
				query = query + ele.name + "=" + ele.val + "&";
			});
			let categoryPath = url.pathname.split('/');

			window.location.href = '/categories/' + categoryPath[2] + '/' + query;
		}


	}
</script>