<!-- @{repository.loading = true} -->
<style>
	.pwd-block {
		padding: 1rem 0;
	}

	label {
		font-size: 15px;
	}

	.btn-primary {

		background-color: #fb9013;
		border-color: #fb9013;
	}

	.btn-primary:hover,
	.btn-primary:active {

		background-color: #fb9013;
		border-color: #fb9013;
	}
</style>
<br />
<div class="row m-0">
	<div class="col-md-4">
		<h2>@(Account settings)</h2>
		<p class="help">@(In this place you can modify your account information.)</p>
		<hr class="darker" />

		

	</div>
	<div class="col-md-8">
		<form id="sigupForm" onsubmit="return false">
			<div class="row content">

				<div class="col-md-12 col-xs-12">

					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="exampleInputname">Name</label>
								<input type="text" class="form-control" id="name"
									placeholder="Name" style="font-size: 14px;">
							</div>
						</div>
						

						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Email</label>
								<input type="text" class="form-control" id="email"
									aria-describedby="emailHelp" placeholder="Enter email"
									style="font-size: 14px;">

							</div>
						</div>
						<div class="col-md-6 col-sm-12 ">
							<div class="form-group">
								<label for="exampleInputPhonenumber">phone number</label>
								<input type="text" class="form-control" id="phone" disabled="true"
									data-minlength="10" maxlength="10" placeholder="Phonenumber"
									style="font-size: 14px;">
							</div>
						</div>
						<!-- <div class="col-md-6 col-sm-12 ">
							<div class="form-group">
								<label for="exampleInputPhonenumber">Gender</label>
								<div>
									<label class="radio-inline"><input type="radio" style="margin-right: 10px;" 
											name="gender" value="male" checked>Male</label>
									<label class="radio-inline " style="padding-left: 15px;"><input type="radio" style="margin-right: 10px;"
											name="gender" value="female">Female</label>
								</div>

							</div>
						</div> -->

						<!-- <div class="col-md-6 col-sm-12 ">
							<div class="form-group">
								<label for="exampleInputStreet">Street</label>
								<input type="text" class="form-control" id="street"
									placeholder="Street" />
							</div>
						</div>
						<div class="col-md-6 col-sm-12 ">
							<div class="form-group">
								<label for="exampleInputCity">Area </label>
								<input type="text" class="form-control" id="area"
									placeholder="Area" />
							</div>
						</div>

						<div class="col-md-6 col-sm-12 ">
							<div class="form-group">
								<label for="exampleInputCity">City </label>
								<input type="text" class="form-control" id="city"
									placeholder="City" />
							</div>
						</div>

						<div class="col-md-6 col-sm-12 ">
							<div class="form-group">
								<label for="exampleInputZip">ZIP</label>
								<input type="text" class="form-control" id="zip"
									placeholder="Zip" />
							</div>
						</div> -->
						
					</div>

										</div>
					
					<div class="contentbody col-md-6" >

						<button onclick="settingsFromSubmit()" class="btn btn-primary"
							style=" padding: 6px;font-weight: 900; font-size: 14px;">Submit</button>
					</div>
				</div>

			</div>
		</form>

		
	</div>
</div>

<script>

	$(document).ready(function () {
		$('.pwd-block').hide();
		$('#signuperror').hide();
		getUserDetails();
		$("#changePwd").on("click", function () {
			if (this.checked) {
				$('.pwd-block').show();

			}
			else {
				$('.pwd-block').hide();

			}
		});
	});

	function getUserDetails() {
		if (localStorage.getItem('userData')) {
				var userData = JSON.parse(localStorage.getItem('userData'));
				console.log("IN", userData);
				$('#name').val(userData.name);
				
				$('#email').val(userData.email);
				$('#phone').val(userData.phone);
				
				$('#street').val(userData.addresses[0].street);
				$('#area').val(userData.addresses[0].area);
				$('#city').val(userData.addresses[0].city);
				$('#zip').val(userData.addresses[0].zip);
			} else {
				// console.log("OUT");
				location.replace('/');
			}
	}

	function settingsFromSubmit() {
		var updateProfile = {
				name: $('#name').val(),
				
				phone: $('#phone').val(),
				email: $('#email').val(),
				
				addresses: [
					{
						name: $('#name').val(),
						phone: $('#phone').val(),
						street: $('#street').val(),
						area: $('#area').val(),
						city: $('#city').val(),
						zip: $('#zip').val(),
					}
				]
			};


	
		console.log(updateProfile);


			$.ajax(newBaseUrl +'api/user', {
				type: 'POST',
				data: JSON.stringify(updateProfile),
				headers: {
					'x-auth': localStorage.getItem('userToken')
				},
				dataType: 'json', // type of response data
				contentType: 'application/json',
				success: function (response, status, xhr) { // success callback function

					console.log("Updated", response);
					if (response["status"]) {
						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Updated Successfully',
							showConfirmButton: false,
							timer: 1500
						}).then(() => {
							localStorage.setItem('userData', JSON.stringify(response['data'][0]));
							location.replace('/my-account');
					
						});
						
						

					} else {
						
						Swal.fire({
							position: 'center',
							icon: 'error',
							title: 'Failed, please try again',
							showConfirmButton: false,
							timer: 1500
						}).then(() => {
							getUserDetails();
						});
					
					}
				},
				error: function (jqXhr, textStatus, errorMessage) { // error callback 
					console.log("errror");

				}
			});
		



	}

	


</script>