<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700" />
<style>
	.container {
		padding: 2rem 0;
	}

	.caption {
		padding: 15px;
		background-color: #fb9013;
		color: #fff;
	}

	.table-borderless td,
	.table-borderless th {
		border: 0 !important;
		width: auto;
		font-size: 14px;
		white-space: nowrap;
	}

	#wish-table table {
		font-size: 15px;
	}

	.wish-empty,
	.orders-empty {
		font-weight: 600;
		text-align: center;
		font-size: 15px;
		;
	}

	.orders-block .success {
		color: green !important;
	}

	.orders-block .canceled {
		color: red !important;
	}

	.orders-block .warning {
		color: #fecc09 !important;
	}

	#cart-row i {
		color: black;
	}

	.content .contentbody {
		padding: 5px;
		max-height: 700px;
		overflow-y: scroll;
	}

	#cart-row-new img {
		height: 90px;
	}

	.wish-b-each {
		display: flex;
		justify-content: space-between;
	}

	

	.wish-b-each .details-prod-b {
		padding: .5rem;
		display: grid;
		align-items: center;



	}

	.wish-b-each .details-prod-b .name {
		margin-bottom: 10px;
		
	}

	.wish-b-each .details-prod-b .name span {
		color: #fb9013;
		font-weight: 600;
		font-size: 14px;
	}

	.wish-b-each .details-prod-b .price-btn {
		display: flex;
		justify-content: space-between;
	}
	.wish-b-each .details-prod-b .price-btn span:first-child{
		font-size: 14px;
    font-weight: 600;
	}
	
	.wish-b-each .details-prod-b .price-btn .add-item {
		margin: 0px 5px 0 0;
		background-color: #fb9013;
		border: 0;
		font-size: 14px;
		float: right;
		border-radius: 3px;
		color: white;
		height: 27px;
		font-weight: 600;
		padding: 3px 11px;
		outline: 0;
		text-decoration: none;
		-webkit-transition: all 0.3s;
	}

	@media only screen and (max-width: 767px) {

		.wish-b-each {
			margin-bottom: 10px;
		}
		.content .contentbody {
			padding: 5px;
		}

		.content table {
			border: 0;
		}
	}
</style>


<div class="container">
	<h1 class="col">@(My Account)</h1>

	<div class="row m-0">
		<div class="col">
			<div class="keyvalue">
				<div class="key">@(Account name)</div>
				<div class="value name-append"> </div>
			</div>
		</div>
		<div class="col">
			<div class="keyvalue">
				<div class="key">@(Email address)</div>
				<div class="value email-append"> </div>
			</div>
		</div>
		<div class="col">
			<div class="keyvalue">
				<div class="key">@(Phone number)</div>
				<div class="value phone-append"></div>
			</div>
		</div>
		<!-- <div class="col">
			<div class="keyvalue">
				<div class="key">@(Discount)</div>
				<div class="value name-append"></div>
			</div>
		</div> -->
	</div>
	<br>
	<div class="row m-0">
		
		<div class="col-md-4">
			<div style="font-size: 14px;">
				<a href="/my-wishlist" class="link"><i class="fa fa-caret-right"></i>@(My Wishlist)</a>
				<a href="/my-orders" class="link"><i class="fa fa-caret-right"></i>@(
					My Orders)</a>
			</div>
		</div>
		<div class="col-md-4">

			<div style="font-size: 14px;">
				<a href="/my-account-update" class="link"><i class="fa fa-caret-right"></i>@(Update
					account)</a>
				<a href="@{sitemap_url('category')}" class="link"><i class="fa fa-caret-right"></i>@(Continue
					Shopping)</a>
				<a href="javascript:void(0)" onclick="userLogout()" class="link"><i
						class="fa fa-caret-right"></i>@(Logout)</a>
			</div>
		</div>
	</div>
	<br>
	<!-- <div class="row m-0">

		<div class="col-md-6 m">

			<div class="content">
				<div class="caption">@(View Wishlist)</div>
				<div class="contentbody">
					<div class="wish-empty">
						<p>@(Wishlist empty)</p>
					</div>
					<div class="table-responsive" id='wish-table'>
						<table class="table table-borderless " style="border: 0;">
							<thead>
								<tr>
									<th style="padding : 5px;">S.no</th>
									<th style="padding : 5px;">Product</th>
									<th style="padding : 5px;">Price</th>
									<th style="padding : 5px;">delete</th>
									<th style="padding : 5px;">cart</th>

								</tr>

							</thead>
							<tbody id='cart-row'>

							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 m">
			<div class="content">
				<div class="caption">@(View Orders)
				</div>
				<div class="contentbody">
					<div class="orders-empty">
						@(No Orders)
					</div>
					<div class="orders-block">
						<table class="table table-borderless " style="border: 0;">
							<thead>
								<tr>
									<th style="padding:5px;">S.no</th>
									<th style="padding:5px;">Id</th>
									<th style="padding:5px;">Date</th>
									<th style="padding:5px;">Status</th>
									<th style="padding:5px;"></th>

								</tr>

							</thead>
							<tbody id='orders-block'>

							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

	</div> -->

</div>

<script>

	var userData = {};
	$(document).ready(function () {
		if (localStorage.getItem('userData')) {
			refresh_cart();
			fetchUser();
			fetchWish();
			fetchOrders();
		} else {
			location.replace('/');
		}
		$('.orders-empty').show();
		$('.orders-block').hide();
		$('#wish-table').hide();
		$('.wish-empty').show();

	});

	function fetchWish() {

		$.ajax(newBaseUrl + 'api/wishlist', {
			type: 'GET',
			headers: {
				'x-auth': localStorage.getItem('userToken')
			},
			dataType: 'json', // type of response data
			contentType: 'application/json',
			success: function (data, status, xhr) { // success callback function
				// console.log("WishPPPPPP", data);
				if (data.length == 0) {
					$('#wish-table').hide();
					$('.wish-empty').show();
				} else {
					$('.wish-empty').hide();


					$('#cart-row').html('');
					for (let i = 0; i < data.length; i++) {
						const params = data[i];
						$('.cart-row-new').append('');
						$('#cart-row-new').append(`
								<div class="row wish-b-each">
								

									<div class="col-md-3 col-xs-4 img-b"	>
										<img src="https://d34e6224thkkna.cloudfront.net/happi/${params.pictures[0]}.jpg">
										</div>
										<div class="col-md-9 col-xs-8  details-prod-b"	>
											<div class="name">
												<span>${params.name}</span>

												</div>
												<div class="price-btn">
												<span> &#8377 ${params.payPrice}</span>
												<span> <a class="add-item" href="javascript:itemAdd('${params.id}')" class="more phonepe">@(Add To Cart)</a></span>
												</div>
										</div>
										
								</div>
							`);
						$('.cart-row').append('');
						$('#cart-row').append(`
							<tr><td style="padding:5px;"> ${i + 1}</td>
										<td style="padding:5px;"> ${params.name}</td>
										<td style="padding:5px;"> &#8377 ${params.payPrice}</td>						
										<td style="padding:5px;"> <i class="fa fa-trash"  onclick="delWish('${params.id}')" aria-hidden="true"></i></td>
										<td style="padding:5px;"> <a href ="javascript:void(0)"  onclick="addToCart('${params.id}')" ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></td>
									</tr>
							`);


					}
					$('#wish-table').show();
				}

			},
			error: function (jqXhr, textStatus, errorMessage) { // error callback 
				console.log("errror");
				Swal.fire({
					position: 'center',
					icon: 'error',
					title: 'Please try again',
					showConfirmButton: false,
					timer: 1500
				}).then(() => {

					fetchWish();
				});
			}
		});
	}

	function delWish(id) {

		var tempobj = {
			"product_id": id.toString()
		};
		$.ajax(newBaseUrl + 'api/wishlist', {
			type: 'DELETE',
			headers: {
				'x-auth': localStorage.getItem('userToken')
			},
			data: JSON.stringify(tempobj),
			dataType: 'json', // type of response data
			contentType: 'application/json',
			success: function (data, status, xhr) { // success callback function
				$('#wish-table').hide();
				if (data.state) {
					Swal.fire({
						position: 'center',
						icon: 'success',
						title: ' Removed from Wishlist',
						showConfirmButton: false,
						timer: 1500
					}).then(() => {
						wishListData = [];
						fetchWish();
					});
				}
			},
			error: function (jqXhr, textStatus, errorMessage) { // error callback 
				Swal.fire({
					position: 'center',
					icon: 'error',
					title: 'Please try again',
					showConfirmButton: false,
					timer: 1500
				}).then(() => {

					fetchWish();
				});
			}
		});
	}

	function addToCart(id) {

		var tempobj = {
			"productId": id.toString(),
			"quantity": 1
		};

		$.ajax(newBaseUrl + 'api/cart?t=' + new Date().getTime(), {
			type: 'POST',
			headers: {
				'x-auth': localStorage.getItem('userToken')
			},
			data: JSON.stringify(tempobj),
			dataType: 'json', // type of response data
			contentType: 'application/json',
			success: function (data, status, xhr) { // success callback function

				if (data["status"]) {
					Swal.fire({
						position: 'center',
						icon: 'success',
						title: 'Added Successfully to cart',
						showConfirmButton: false,
						timer: 1500
					}).then(() => {

						refresh_cart();
					});
				}
			},
			error: function (jqXhr, textStatus, errorMessage) { // error callback 
				Swal.fire({
					position: 'center',
					icon: 'error',
					title: 'Please try again',
					showConfirmButton: false,
					timer: 1500
				}).then(() => {

					refresh_cart();
				});
			}
		});
	}

	// function refresh_cart() {

	// 	$.ajax(newBaseUrl + 'api/cart?t=' + new Date().getTime(), {
	// 		type: 'GET',
	// 		headers: {
	// 			'x-auth': localStorage.getItem('userToken')
	// 		},
	// 		dataType: 'json', // type of response data
	// 		contentType: 'application/json',
	// 		success: function (data, status, xhr) { // success callback function
	// 			// console.log("Wish", data);

	// 			if (data["status"]) {
	// 				if (data.data.products.length == 0) {
	// 					$('.cart-img').attr('src', '/img/carticons/cart.png');
	// 				} else if (data.data.products.length <= 9) {
	// 					$('.cart-img').attr('src', '/img/carticons/cart' + data.data.products.length + '.png');
	// 				}
	// 				else {

	// 					$('.cart-img').attr('src', '/img/carticons/cart9+.png');
	// 				}
	// 			}
	// 		},
	// 		error: function (jqXhr, textStatus, errorMessage) { // error callback 
	// 			console.log("errror");
	// 			Swal.fire({
	// 				position: 'center',
	// 				icon: 'error',
	// 				title: 'Please try again',
	// 				showConfirmButton: false,
	// 				timer: 1500
	// 			});
	// 		}
	// 	});

	// }

	function fetchOrders() {


		$.ajax(newBaseUrl + 'api/order/v2?t=' + new Date().getTime(), {
			type: 'POST',
			headers: {
				'x-auth': localStorage.getItem('userToken')
			},
			data: {},
			dataType: 'json', // type of response data
			contentType: 'application/json',
			success: function (data, status, xhr) { // success callback function
				// console.log('ORDers obj', data);
				if (data.length == 0) {
					$('.orders-empty').show();
					$('.orders-block').hide();
				} else {
					$('.orders-empty').hide();
					$('.orders-block').show();

					for (let i = 0; i < data.length; i++) {
						const element = data[i];
						// console.log(new Date(element.datecreated).getDate());
						let month = new Date(element.datecreated).getMonth();
						month = month + 1;
						let date = new Date(element.datecreated).getDate() + '-' + month + '-' + new Date(element.datecreated).getFullYear();
						let statusColor = '';
						if (element.internal_type == 'waiting for update') {
							statusColor = 'warning';
						} else if (element.internal_type == "Finished") {
							statusColor = 'success';
						} else if (element.internal_type == "Canceled") {
							statusColor = 'canceled';
						}
						$('#orders-block').append(
							`<tr><td style="padding:5px;"> ${i + 1}</td>
						<td style="padding:5px;">${element.id}</td>
						<td style="padding:5px;">${date}</td>
						<td style="padding:5px;"><p  class='${statusColor}' style="margin-bottom:0">${element.internal_type}</p></td>						
						<td style="padding:5px;"><a href='/checkout/${element.id}' style="color: #fb9013;font-weight: 600;text-decoration:none;">More</a></td>
						
					  </tr>
					`
						);

					}
				}

			},
			error: function (jqXhr, textStatus, errorMessage) { // error callback 
				Swal.fire({
					position: 'center',
					icon: 'error',
					title: 'Please try again',
					showConfirmButton: false,
					timer: 1500
				}).then(() => {

				});

			}
		});
	}

	function userLogout() {


		localStorage.removeItem('userToken');
		localStorage.removeItem('userData');
		localStorage.removeItem("phonepeResponse");
		
		setTimeout(() => {
			location.replace('/');
		}, 2000);

		Swal.fire({
			position: 'center',
			icon: 'success',
			title: "Logout Successfully",
			showConfirmButton: false,
			timer: 3000
		}).then(() => {
			
		});



	}

	function fetchUser() {

		userData = JSON.parse(localStorage.getItem('userData'));

		$(".name-append").html(`${userData.name}`);
		$(".email-append").html(`${userData.email}`);
		$(".phone-append").html(`${userData.phone}`);
	}

</script>
