<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700" />
<style>
    .container {
        padding: 2rem 0 0;
    }

    .caption {
        padding: 15px;
        background-color: #606060;
        color: #fff;
    }

    .footer {
        margin-top: 3rem
    }

    .table-borderless td,
    .table-borderless th {
        border: 0 !important;
        width: auto;
        font-size: 14px;
        white-space: nowrap;
    }

    #wish-table table {
        font-size: 15px;
    }

    .wish-empty,
    .orders-empty {
        font-weight: 600;
        text-align: center;
        font-size: 15px;
        ;
    }

    .orders-block .success {
        color: green !important;
    }

    .orders-block .canceled {
        color: red !important;
    }

    .orders-block .warning {
        color: #fecc09 !important;
    }

    #cart-row i {
        color: black;
    }

    .content .contentbody {
        padding: 5px;
    }

    #cart-row-new img {
        height: 90px;
    }

    .wish-b-each {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }



    .wish-b-each .details-prod-b {
        padding: .5rem;
        display: grid;
        align-items: center;



    }

    .wish-b-each .details-prod-b .name {
        margin-bottom: 10px;

    }

    .wish-b-each .details-prod-b .name span {
        color: #606060;
        font-weight: 600;
        font-size: 14px;
    }

    .wish-b-each .details-prod-b .price-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wish-b-each .details-prod-b .price-btn span:first-child {
        font-size: 14px;
        font-weight: 600;
    }

    .wish-b-each .details-prod-b .price-btn .add-item {
        margin: 0px 5px 0 0;
        background-color: #606060;
        border: 0;
        font-size: 14px;
        float: right;
        border-radius: 3px;
        color: white;
        height: 27px;
        font-weight: 600;
        padding: 3px 11px;
        outline: 0;
        text-decoration: none;
        -webkit-transition: all 0.3s;
    }

    @media only screen and (max-width: 767px) {

        .wish-b-each {
            align-items: center;
            margin-bottom: 10px;
        }

        .wish-b-each .details-prod-b .price-btn {
            display: grid;
        }

        .content .contentbody {
            padding: 5px;
        }

        .content table {
            border: 0;
        }
    }
</style>
<div class="loading">Loading&#8230;</div>
<div class="container no-loading">
    <div class="row m-0">
        <div class="col-md-12">

            <h5><a href="/my-account" style="text-decoration: none;
                color: black;">Back To Account</a></h5>
        </div>
        <div class="col-md-12 m">

            <div class="content">
                <div class="caption">@(View Orders)</div>
                <div class="contentbody">
                    <div class="wish-empty">
                        <p>@(No Orders)</p>
                    </div>
                    <div class="table-responsive" id='wish-table'>

                        <div class="wish-rows row" id='cart-row-new' style="margin: 0;">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    var userData = {};
    $(document).ready(function () {
        $('.no-loading').hide();
        $('.loading').show();
        if (localStorage.getItem('userData')) {
            refresh_cart();
            fetchUser();
            fetchOrders();
        } else {
            location.replace('/');
        }
        $('.orders-empty').hide();
        $('.orders-block').hide();
        $('#wish-table').hide();
        $('.wish-empty').show();

    });


    // function refresh_cart() {

    //     $.ajax(newBaseUrl + 'api/cart', {
    //         type: 'GET',
    //         headers: {
    //             'x-auth': localStorage.getItem('userToken')
    //         },
    //         dataType: 'json', // type of response data
    //         contentType: 'application/json',
    //         success: function (data, status, xhr) { // success callback function
    //             // console.log("Wish", data);

    //             if (data["status"]) {
    //                 if (data.data.products.length == 0) {
    //                     $('.cart-img').attr('src', '/img/carticons/cart.png');
    //                 } else if (data.data.products.length <= 9) {
    //                     $('.cart-img').attr('src', '/img/carticons/cart' + data.data.products.length + '.png');
    //                 }
    //                 else {

    //                     $('.cart-img').attr('src', '/img/carticons/cart9+.png');
    //                 }
    //             }
    //         },
    //         error: function (jqXhr, textStatus, errorMessage) { // error callback 
    //             console.log("errror");
    //             Swal.fire({
    //                 position: 'center',
    //                 icon: 'error',
    //                 title: 'Please try again',
    //                 showConfirmButton: false,
    //                 timer: 1500
    //             });
    //         }
    //     });

    // }

    function fetchOrders() {


        $.ajax(newBaseUrl + 'api/order/v2', {
            type: 'POST',
            headers: {
                'x-auth': localStorage.getItem('userToken')
            },
            data: {},
            dataType: 'json', // type of response data
            contentType: 'application/json',
            success: function (data, status, xhr) { // success callback function
                // console.log('ORDers obj', data);
                if (data.length == 0) {
                    $('#wish-table').hide();
                    $('.wish-empty').show();
                    $('.no-loading').show();
                    $('.loading').hide();
                } else {
                    $('.no-loading').show();
                    $('.loading').hide();
                    $('.wish-empty').hide();


                    $('#cart-row-new').html('');
                    var statusVal;
                    for (let i = 0; i < data.length; i++) {
                        const params = data[i];
                        $('#cart-row-new').append('');
                        statusVal = '';
                        if (params["status"] != undefined) {
                            // console.log("STAT",params["status"]);
                            statusVal = ` <span style="    display: flex;align-items: center; font-weight: 400;">Status : <h6 style="font-weight: 600;font-size: 14px;padding-left: 5px;margin: 0;"> ${params.status}</h6></span>`;
                        }
                        $('#cart-row-new').append(`
								<div class="col-md-6 wish-b-each">
                                  

									<div class="col-md-3 col-xs-4 img-b"	>
										<img src="https://d34e6224thkkna.cloudfront.net/happi/${params.items[0].pictures[0]}.jpg">
										</div>
										<div class="col-md-9 col-xs-8  details-prod-b"	>
											<div class="name">
												<span>${params.items[0].name}</span>

												</div>
                                                <div class="price-btn">
                                                    <span style="display: grid;">
                                                    <span style="    display: flex;align-items: center; font-weight: 400;">No of Items <h6 style="font-weight: 600;font-size: 14px;padding-left: 5px;margin: 0;">${params.count} </h6></span>
                                                <span class="price-v" style="    display: flex;align-items: center; font-weight: 400;">Order Value <h6 style="font-weight: 600;font-size: 14px;padding-left: 5px;margin: 0;"> &#8377 ${params.SubTotal}</h6></span>
                                                </span>
                                                <span>

                                               ${statusVal}
                                                <span style="    display: flex;align-items: center; font-weight: 400;"><a href='/checkout/${params.id}' style="display: flex; align-items: center;   background-color: #606060;   padding: 2px 5px;   border-radius: 2px;   font-size: 14px;   color: #fff;">Click Here</a></span>
                                                </span>
											</div>
                                        </div>
                                        
										
								</div>
							`);



                    }
                    $('#wish-table').show();
                }

            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback 
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: 'Please try again',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    fetchOrders();
                });

            }
        });
    }


    function fetchUser() {

        userData = JSON.parse(localStorage.getItem('userData'));

        $(".name-append").html(`${userData.name}`);
        $(".email-append").html(`${userData.email}`);
        $(".phone-append").html(`${userData.phone}`);
    }

</script>