<style>
    .store-heading {
        font-size: 30px;
        color: #ec2127;
        margin: 2rem 0;
    }

    .each-store {
        display: block;
        margin: 1rem 0;
        color: #000;
        background-color: #f9f9f9;
        padding: 1rem;
        width: 300px;
        max-width: 100%;
        margin: 1rem;  }

    .each-store:hover {
        color: #fff;
        background-color: #ec2127;
        transition: .5s;   text-decoration: none;
    }
    .each-store:hover a{
        color: #fff;
    }
    .each-store:hover p{
        color: #fff;
    }
    .each-store:hover .store-title {

        color: #fff;
    }
    .each-store a {
        text-decoration: none;
        color: #000;
    }

    .store-title {
        font-size: 16px;
        font-weight: 500;
    }

    .store-desc {
        font-size: 15px;

    }

    .store-city {
        font-size: 22px;
        font-weight: 500;
    }

    .store-details {
        font-size: 14px;
    }

    .store-btn {
        background-color: #ec2127;
        color: #fff;
        padding: .5rem;
    }

    .store-btn {
        text-decoration: none;

    }

    .store-btn:hover {
        color: #fff;
        text-decoration: none;
    }

    .store-input {
        width: 200px;
    }
</style>

<div class="container">
    <div class="store-heading">
        <h3>Our Stores</h3>
    </div>
    <!-- <div class="search-store">
        <div class="form-group d-flex ">
            <input type="text" class="form-control store-input" id="usr" placeholder="Search...">
            <a href="#" class="store-btn">
                Search
            </a>
        </div>

    </div> 
    <br>
    <div class="store-details">
        <p>Lorem Ipsum is simply dummy text of
             the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
            since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
        
    </div>-->
</div>

<div class="container">
    <div class="row">
       
        <div class="row" >
            @{foreach n in model.cities}
          
            <div class=" each-store">


                <p class="store-title">@{n['storeName']}</p>
                <p class="store-desc">@{n['address']}</p>
                <a href="tel:@{n['phone']}" style="white-space: nowrap;">@{n['phone']}</a>


            </div>
       
            @{end}
        </div>

            </div>

</div>
