<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700" />
<style>
    .container {
        padding: 2rem 0 0;
    }

    .caption {
        padding: 15px;
        background-color: #606060;
        color: #fff;
    }

    .footer {
        margin-top: 3rem
    }

    .table-borderless td,
    .table-borderless th {
        border: 0 !important;
        width: auto;
        font-size: 14px;
        white-space: nowrap;
    }

    #wish-table table {
        font-size: 15px;
    }

    .wish-empty,
    .orders-empty {
        font-weight: 600;
        text-align: center;
        font-size: 15px;
        ;
    }

    .orders-block .success {
        color: green !important;
    }

    .orders-block .canceled {
        color: red !important;
    }

    .orders-block .warning {
        color: #fecc09 !important;
    }

    #cart-row i {
        color: black;
    }

    .content .contentbody {
        padding: 5px;
    }

    #cart-row-new img {
        height: 90px;
    }

    .wish-b-each {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }



    .wish-b-each .details-prod-b {
        padding: .5rem;
        display: grid;
        align-items: center;



    }

    .wish-b-each .details-prod-b .name {
        margin-bottom: 10px;

    }

    .wish-b-each .details-prod-b .name span {
        color: #606060;
        font-weight: 600;
        font-size: 14px;
    }

    .wish-b-each .details-prod-b .price-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wish-b-each .details-prod-b .price-btn span:first-child {
        font-size: 14px;
        font-weight: 600;
    }

    .wish-b-each .details-prod-b .price-btn .add-item {
        margin: 0px 5px 0 0;
        background-color: #606060;
        border: 0;
        font-size: 14px;
        float: right;
        border-radius: 3px;
        color: white;
        height: 27px;
        font-weight: 600;
        padding: 3px 11px;
        outline: 0;
        text-decoration: none;
        -webkit-transition: all 0.3s;
    }

    @media only screen and (max-width: 767px) {

        .wish-b-each {
            margin-bottom: 10px;
        }

        .content .contentbody {
            padding: 5px;
        }

        .content table {
            border: 0;
        }
    }
</style>

<div class="loading">Loading&#8230;</div>
<div class="container no-loading">
    <div class="row m-0">
        <div class="col-md-12">

            <h5><a href="/my-account" style="text-decoration: none;
                color: black;">Back To Account</a></h5>
        </div>
        <div class="col-md-12 m">

            <div class="content">
                <div class="caption">@(View Wishlist)</div>
                <div class="contentbody">
                    <div class="wish-empty">
                        <p>@(Wishlist empty)</p>
                    </div>
                    <div class="table-responsive" id='wish-table'>
                        <!-- <table class="table table-borderless " style="border: 0;">
                            <thead>
                                <tr>
                                    <th style="padding : 5px;">S.no</th>
                                    <th style="padding : 5px;">Product</th>
                                    <th style="padding : 5px;">Price</th>
                                    <th style="padding : 5px;">delete</th>
                                    <th style="padding : 5px;">cart</th>
    
                                </tr>
    
                            </thead>
                            <tbody id='cart-row'>
    
                            </tbody>
                        </table> -->
                        <div class="wish-rows row" id='cart-row-new' style="margin: 0;">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

   

 
    // function addToCart(id) {

    //     var tempobj = {
    //         "productId": id.toString(),
    //         "quantity": 1
    //     };

    //     $.ajax(newBaseUrl + 'api/cart', {
    //         type: 'POST',
    //         headers: {
    //             'x-auth': localStorage.getItem('userToken')
    //         },
    //         data: JSON.stringify(tempobj),
    //         dataType: 'json', // type of response data
    //         contentType: 'application/json',
    //         success: function (data, status, xhr) { // success callback function

    //             if (data["status"]) {
    //                 Swal.fire({
    //                     position: 'center',
    //                     icon: 'success',
    //                     title: 'Added Successfully to cart',
    //                     showConfirmButton: false,
    //                     timer: 1500
    //                 }).then(() => {

    //                     refresh_cart();
    //                 });
    //             }
    //         },
    //         error: function (jqXhr, textStatus, errorMessage) { // error callback 
    //             Swal.fire({
    //                 position: 'center',
    //                 icon: 'error',
    //                 title: 'Please try again',
    //                 showConfirmButton: false,
    //                 timer: 1500
    //             }).then(() => {

    //                 refresh_cart();
    //             });
    //         }
    //     });
    // }

    // function refresh_cart() {

    //     $.ajax(newBaseUrl + 'api/cart', {
    //         type: 'GET',
    //         headers: {
    //             'x-auth': localStorage.getItem('userToken')
    //         },
    //         dataType: 'json', // type of response data
    //         contentType: 'application/json',
    //         success: function (data, status, xhr) { // success callback function

    //             if (data["status"]) {
    //                 if (data.data.products.length == 0) {
    //                     $('.cart-img').attr('src', '/img/carticons/cart.png');
    //                 } else if (data.data.products.length <= 9) {
    //                     $('.cart-img').attr('src', '/img/carticons/cart' + data.data.products.length + '.png');
    //                 }
    //                 else {

    //                     $('.cart-img').attr('src', '/img/carticons/cart9+.png');
    //                 }
    //             }
    //         },
    //         error: function (jqXhr, textStatus, errorMessage) { // error callback 
    //             console.log("errror");
    //             Swal.fire({
    //                 position: 'center',
    //                 icon: 'error',
    //                 title: 'Please try again',
    //                 showConfirmButton: false,
    //                 timer: 1500
    //             });
    //         }
    //     });

    // }

      

</script>