@.container {
    max-width: 90% !important;
} 
.relative {
    background-color: #606060;
    padding: 15px;
    color: #fff;
}
.relative .account  {
    position: absolute !important;
    float: right;
    top: 5px;
    display: flex;
}
.relative .account a {
    color: #fff;
    font-size: 13px;
    border-left: 0;
}
.relative .account a span {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;

}
.helpline {
    color: #fff;
    padding-left: 1rem;
}
.helpline i {
    font-size: 3rem;
    margin-right: 1rem;
}
.helpline p {
    margin-bottom: -5px;
    font-size: 14px;
}
.helpline p:last-child {
    font-weight: 600;
}
.footer {
    /* background-color: #e7e7e7; */
    text-align: left;
    padding: 0;
    margin-top: 2rem;

}

.foo-block p {
    font-size: 19px;
    padding-bottom: 10px;
}

.foo-block ul {
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 450;
    margin-bottom: 0;
    line-height: 2rem;
}
.foo-block .desc p {
    font-size: 14px;
    color: #000000;
}
.foo-block .desc img {
    margin-bottom: 1rem;
    height: 44px;
}
.foo-block .desc a:last-child {
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    letter-spacing: -0.9px;
    text-decoration: none;
}
.foo-block .subscribe label {
    font-size: 14px;
}
.foo-block .subscribe input {
    /* height: calc(3em + .75rem + 2px) !important; */
    margin: 1rem 0;
    width: 50%;
}
.foo-block .subscribe input::placeholder{
    font-size: 15px;
}
/* .foo-block .subscribe button {
    background-color: #606060;
    border-color: #606060;
    width: 25%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
} */
.foo-block .address ul li span:last-child {
    padding-left: 10px;
    font-weight: 600;
}
.foo-block .address .social {
    margin-top: 2rem;
    cursor: pointer;
}
.foo-block .address .social span i{
    
    border-radius: 50%;
    margin-right: 2rem;
    padding:10px;
    height: 30px;
    width: 30px;
    font-size: 14px;
    padding-top: 6px;
}
.filters {
    border-right: 1px solid #e9ecef;
}
.filters .filter-heading {
    font-size: 15px;
    font-weight: 600;
}
.filters .checkbox{
    position: relative;
    display: block;
    /* margin-top: 10px; */
    margin-bottom: 1px;
    font-size: 15px;
}

.filters .checkbox label {
    min-height: 20px;
    /* padding-left: 20px; */
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
}
.filters .checkbox label input {
    margin-right: 5px;
    height: 14px;
    width: 14px;
}
.filters .each-filter {
    margin-bottom: 2rem;
}
.products-row {
    padding: 20px;
}

.foo-block .top-b .foo-logo img {
    height: 44px;
}
/* .foo-block .top-b {
    display: flex;
    justify-content: space-between;
} */
@media only screen and (max-width: 767px) {
    .cards-img {
        width: 100%;
    }
    .products-row, .mob-each-prod,.foo-block{
        padding: 0px !important;
    }
    .footer {
        margin-top: 0 ;
        padding: 25px 0 0 !important;
    }
    .foo-block .col-sm-12 {
        padding: 0 !important;
    }
    .footer .subscribe, .footer .address {
        padding-top: 15px;
        padding-bottom: 15px;
    }
   
    .footer .address p {
        margin-bottom: 0;
    }
    .relative .account {
        justify-content: flex-end;
    }
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}