.header-m {
    width: 90%;
    padding: 2rem 0 !important;
}

.header-m .each-img{
    display: block;
    width: auto;
    height: 250px;
    margin: 0 auto;

}
.header-m .heading {
    width: 100%;
    padding-bottom: 2rem;
}
.header-m .heading h5 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.header-m .heading hr{
    width: 7%;
    height: 2px;
    background-color: #fb9013;
    margin: initial;
}
.right .vl {
    border-left: 1px solid #d7d7d7;
    height: 200px;
    margin-top: 5rem;
}

.each-b a {
    color: #000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}
.each-b h5 {
    padding: 0px 0;
    color: #000;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 0;
}

.each-b button {
    background-color: transparent;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 1rem;
    letter-spacing: 0px;
    color: #000;
    width: auto;
    padding: 5px 9px;
    border: 1px solid #adadad;
    
}

.each-b .btn-primary:active, .each-b .btn-primary:hover, .each-b .btn-primary:not(:disabled):not(.disabled):active:focus{
    background-color: transparent !important;
    border: 1px solid #adadad;
    box-shadow: 0 0 0 0.2rem rgb(231, 231, 231);
    color: #000;
}

.logos-sec .col-md-12 { 
    margin: 2rem 0;
    padding: 2rem 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 4px 2px #ccc;
    -moz-box-shadow: 0px 2px 4px 2px #ccc;
    box-shadow: 0px 2px 4px 2px #ccc;
}
.logos-sec .each-icon img{
    width: auto !important;
    height: 90px;    
    margin: auto !important;
}
.logos-sec .owl-dots {
    display: none;
}
.logos-sec .each-icon img{
    width: 100%;
    
}

#new-arrivals .more,#super-gadgets .more,#popular-phones .more,#dual-phones .more,#gaming-phones .more,#tv .more {
    margin: 0 5px 0 0;
    background-color: #fb9013;
    border: 0;
    font-size: 11px;
    float: right;
    border-radius: 3px;
    color: white;
    height: 20px;
    outline: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    display: inline-block;
    position: relative;
    padding: 2px 5px;
}
#new-arrivals p ,#super-gadgets p ,#popular-phones p ,#dual-phones p ,#gaming-phones p  {
    font-weight: 600;
    font-size: 13px;
 }
 
 .d-flex.flex-row {
     padding: 5px 0;
    border: 2px solid transparent;
    /* padding-bottom: 8px; */
    border: 1px solid transparent;
}
.d-flex.flex-row:hover {
    /* box-shadow: 0px 5px 7px rgba(251, 144, 19, 0.5); */
    border: 1px solid #fb9013;
    border-radius: 10px;

}
.d-flex.flex-row:hover {
    transform: scale(.99);
    transition: .4s;
    overflow: hidden;
}
.d-flex.flex-row:hover img {
    transform: scale(1.04);
    transition: .8s;
}
.d-flex.flex-row .align-items-center {
    align-items: center;
    min-height: 81px;
    max-height: 81px;
    justify-content: space-between;
}
.right .vl{
	border-left: 1px solid transparent;
}
.logos-sec .owl-nav {
    display:none;
}



/* .flex-container {
    display: flex;
    background-color: #f1f1f1;
  
   
  } */
.add-padding{
    padding-bottom: 50px;
    padding-top: 30px;
}
.price-min{
    display: flex;

}
.mrp-stike {
    
text-decoration: line-through;
padding-left: 1rem !important;
}

.price-min h5:last-child{
padding-right:5px;
font-size: 11px;
}
.breadcrumb {
    display: none;
}

.middle-b .middle-img:first-child {
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

.middle-b .middle-img:last-child {
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

.middle-b:first-child .middle-img {
    padding-left: 10px;
}

.middle-b:first-child .middle-img {
    padding-right: 10px;
}

.banner-container img {
    box-shadow: 0px 2px 4px 0px #ccc;
    width: 100%;
}

.banner-container {
    margin-bottom: 15px;
    padding: 0;
}

.static-b img {
    width: 100%;
}

.header-m .col-md-2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hover14 figure {
    position: relative;
    overflow: hidden;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover14 figure:hover::before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}
.hover15 figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.hover15 figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hover15 figure:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
/* .tiles-pad-1 {
    padding: 0;
}
.tiles-pad-2 {
    padding-right: 3px;
} */
.featuresData {
    border: 1px solid grey;
 border-radius: 10px;
}
.featuresData .each-b{
    border-right: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 20px 10px;
}
.featuresData .each-b .txt b {
    font-size: 18px;
}
.featuresData .each-b .txt {
    font-size: 13px;
}
.featuresData .each-b:last-child {
    border: 0 !important;
}
  @media only screen and (max-width: 767px) {
      .m-p-0 {
          padding: 0 !important;
      }
    .right .vl {
        border-left: 0px solid #d7d7d7;
        
    }
    .d-flex.flex-row { 
        padding-bottom: 0;
    }
    .header-m .each-img{
        display: block;
        width: auto;
        height: 183px;
        margin: 0 auto;
    
    }
    .tiles-pad-1 {
        padding: 3px;
    }
    .tiles-pad-2 {
        padding: 3px;
    }
    .featuresData {
        border: 0;
        justify-content: center;
    display: grid;
    }
    .featuresData .each-b{
       
        border-right: 0px solid grey; 
    }
    .featuresData .each-b .txt {
        display: grid;

    }
  }