.container {
  width: 1250px !important;
}

.section-title {
  text-align: center;
  padding: 2rem;
  color: #000;
  font-size: 1.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}

/* .section-title:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 2px;
  border-bottom: 2px solid;
  top: 3rem;
  margin-left: -60px;
}
.section-title:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 2px;
  border-bottom: 2px solid;
  top: 3rem;
  margin-left: 15px;
} */

.hover-zoom figure img {
  transition: all ease .3s;
}

.hover-zoom figure:hover img {
  transform: translateY(-5px);
}

section.each-sec {
  margin-bottom: 40px;
  /* padding-bottom: 2rem !important; */
}

.centered {
  border: none;
  text-align: center;
  position: absolute;
  align-self: center;
  display: grid;
  text-transform: uppercase;
}

.store-info {
  /* border: 1px solid #e8e8e8; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* height: 540px; */
}

.store-info .centered a {
  position: relative;
  border: 1px solid #000;
  width: fit-content;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px 30px 10px 20px;
  color: #000;
  text-decoration: none;
  margin: auto;
  letter-spacing: 5px;
}

.store-info .centered a:hover {
  color: #e30513;
  border: 1px solid #e30513;
}

.store-info .centered a::after {
  content: " ";
  height: 1px;
  background-color: #000;
  right: -22px;
  top: 50%;
  width: 40px;
  position: absolute;
  transition: all ease .3s;
}

.store-info .centered a:hover::after {
  background-color: #e30513;
  right: -28px;
}

.store-info .centered span:nth-child(1) {
  width: 100%;
  text-align: center;
  font-size: 70px;
  color: #851753;
  letter-spacing: 10px;
}

#stores-carousel .store-info .centered span:nth-child(1) {
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #851753;
  letter-spacing: 10px;
  margin-bottom: 1rem;
}

#stores-carousel .store-info .centered span:nth-child(2), #stores-carousel .store-info .centered span:nth-child(3) {
  text-align: center;
  font-size: 20px;
  color: #000000;
  letter-spacing: 2px;
  margin-top: 0 !important;
}

.store-info .centered span:nth-child(2) {
  margin-top: -20px;
  font-size: 35px;
  color: #000;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.store-info .centered span:nth-child(3) {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: #000;
  letter-spacing: 5px;
  margin-right: 0;
  margin-bottom: 50px;
}

.shop-by-category .each-item h6 {
  text-align: center;
  margin-top: .5rem;
  text-transform: capitalize;
}

.p-c {
  padding: 5px;
}

.blogs .row-b {
  background-color: #dfe6e9;
  padding: 2rem;
}

.blogs .each-item a figure {
  border-right: 2px solid #cfcfcf;
}

.blogs .each-item img {
  height: auto !important;
  padding-right: 1rem;
  width: 100%;
}

.follow-us .each-item {
  background-color: #ececec;;
  padding: 4rem;
  margin: auto;
}

.follow-us .each-item .d-flex {
  justify-content: center;
}

.follow-us .each-item a {
  margin: 1rem;
}

.follow-us .each-item img {
  height: 40px;
}

.column1122 {
  margin: 0;
  padding: 6px;
}

.column1122:last-child {
  padding-bottom: 20px;
}

.column1122::after {
  content: '';
  clear: both;
  display: block;
}

.column1122 a {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 0 0 25px;
  padding: 0;
}

.column1122 a:first-child {
  margin-left: 0;
}

.column1122 a span {
  position: absolute;
  bottom: -20px;
  left: 45%;
  z-index: -1;
  display: block;
  /* width: 300px; */
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  transform: translate(-50%, 0);
}

.column1122 figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.column1122 figure:hover+span {
  opacity: 1;
}

/* Circle */

.hover1122 figure {
  position: relative;
}

.hover1122 figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hover1122 figure:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.store-txt-b {
  background-color: #efefef;
  margin-bottom: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.store-txt-b h5 {
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}

.store-txt-b .btn-sotres {
  text-align: center;
}

.store-txt-b .btn-sotres span {
  background: linear-gradient(to right, #63111b 0%, #be1e2d 100%);
  padding: .3rem 1rem;
  border-radius: 2px;
  color: #fff;
}
.our-promise-each h4 {
  font-size: 1.5rem; 
}
@media only screen and (max-width: 767px) {
  figure {
    margin-bottom: 0 !important;
  }
  .footer-icon-b {
    display: grid !important;
  }
  .footer-icon-b .each-b-icon {
    margin: 1rem 0 !important;
  }
  .foot-locations {
    padding: 0 !important;
  }
  .foot-locations .col-md-12 {
    padding: 0;
  }
  .store-txt-b {
    padding: 15px !important;
  
  }
  .shop-by-category .each-item img{
    width: 100%;
  }
  .column1122:last-child {
    padding-bottom: 0 !important;
  }
  .store-txt-b h5 {
    line-height: 20px;
    font-size: 12px;
  }
  .category-b {
    padding: 0;
    display: grid !important;
    justify-content: start !important;
  }
  .category-b .each-footer-b {
    margin-left: 1rem;
  }
  .blogs .each-item a figure {
    border-right: 0px !important;
  }
  .blogs .each-item img {
    height: 150px;
  }
  .section-title {
    padding: 1rem;
    font-size: 1rem;
  }
  /* .section-title:before {top: 1.5rem;}
    .section-title::after {top: 1.5rem;} */
  .p-r-0-m {
    padding-right: 0;
  }
  .p-l-0-m {
    padding-left: 0;
  }
  .khimji-offers {
    margin-bottom: 0;
  }
  section.each-sec {
    margin-bottom: 0;
  }
  .khimji-offers .khimji-offers-item {
    margin: 0 5px;
    min-height: 63px;
  }
  .khimji-offers .khimji-offers-item img {
    height: 40px;
  }
  .follow-us .each-item {
    width: 100%;
  }
  .our-promise-each h4 {
    font-size: 1rem; 
  }
  .column1122 a span {
    position: initial;
    opacity: 1;
    left: 0;
    transform: translate(0%, 0);
    font-size: 19px;
   }
}