<div class="">
	<img src="@{model.image}" alt="" style="width: 100%;">

</div>
<div class="container">
	<h1 class="mt-4" style="color: #dc7583;font-family: 'Nexa-light' !important;">@{model.name}</h1>

	 

</div>
<section class="shop-single section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="htmlview">

				</div>
			</div>
			
		</div>
</section>


<script>

	$(document).ready(function () {
		var linker = '@{model.url}'.split('/');

		$.ajax({
			url: `/pages/${linker[1]}?json=1`,
			success: function (result) {
				$("#htmlview").html(result.body);
			}
		});
	});



</script>