<!--<link rel='stylesheet' href="/default/css/ubislider.css">-->
<script src="https://cdn.jsdelivr.net/npm/showdown@1.0.0/dist/showdown.min.js"></script>
<link rel="stylesheet" type="text/css" href="/src_prod/css/glasscase.min.css" />
<script>
	// Measure a view of product details. This example assumes the detail view occurs on pageload,
	// and also tracks a standard pageview of the details page.
	dataLayer.push({
		'event': 'product_detail',
		'ecommerce': {
			'detail': {
				'actionField': { 'list': 'Apparel Gallery' },    // 'detail' actions have an optional list property.
				'products': [{
					'name': '@{model.name}',         // Name or ID is required
					'id': '@{model.id}',
					'price': '@{model.payPrice}',
					'brand': '@{model.manufacturer.name}',
					'category': '@{model.category.text}',
				}]
			}
		}
	});
</script>
<style>
	.ubislider-inner {
		height: auto !important;
	}

	.stock-status {
		font-weight: 600;
		border: 1px solid #8E1F1E;
		padding: 5px;
		display: grid;
		width: fit-content;

	}

	.one-tab {

		font-size: 12px;
		text-align: center;

	}

	.pincode-status {
		display: none;
		font-size: 12px;
		color: #8E1F1E;
	}

	.mrp-v {
		text-decoration: line-through;
		font-size: 13px;
	}

	.table {
		width: 100%;
		margin-bottom: 1rem;
		color: #212529;
		font-size: 14px;
	}

	.table .thead-dark th {
		color: #464646;
		background-color: #e9e9e9;
		border-color: #e9e9e9;
		font-size: 10px;
		text-align: center;

	}

	.modal-body {
		position: relative;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1rem;
		font-size: 14px;
	}


	.nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		color: #fff;
		background-color: #dee2e6;
	}

	.prod-details {
		margin: 2rem auto;
	}

	.prod-details h1 {
		font-size: 18px;
		margin-bottom: 0;
		font-weight: bold;
	}

	#accordion a {
		color: #000000 !important;
		text-decoration: none;
		padding: 8px;
	}

	#accordion {
		font-size: 14px;
	}

	#accordion .panel-title {
		cursor: pointer;
		background-color: #f3f3f3;
		padding: 6px 15px;
		border-radius: 5px;
	}

	#accordion table tr th:nth-child(2) {
		text-align: center;
	}

	#accordion table tr th:last-child {
		text-align: right;
	}

	#accordion table tr td:nth-child(2) {
		text-align: center;

	}

	#accordion table tr td:last-child {
		text-align: right;
	}

	.modal-content {
		border-radius: 1rem;
	}

	.modal-header h3 {
		text-transform: capitalize !important;
	}

	.zoomWindowContainer div:first-child {
		height: 700px !important;
		width: 500px !important;
	}

	/* .zoomLens {
		transform: translateZ(8px) !important;
		height: 100% !important;
		width: 100% !important;
	} */
	.price-v {
		color: #8E1F1E;
		font-size: 19px;
		font-weight: bold;
		letter-spacing: .5px;
	}

	.save-v {
		color: #8E1F1E;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: .5px;
	}

	.pincode-del .form-group {
		margin-bottom: 0 !important;
	}

	.pincode-del label {
		color: #8E1F1E;
		font-size: 13px;
		font-weight: 600;
	}

	.pincode-del {
		margin-top: 1rem;

	}

	.pincode-del .input-b input {
		width: 200px;
	}

	.pincode-del .input-b {
		display: flex;
	}

	.pin-block h3 {
		font-size: 14px;
	}

	.pincode-del .form-group {
		display: flex;
	}

	.pincode-del .del-time {
		font-size: 13px;
	}

	.colors-variation {
		display: flex;
		justify-content: start;
		margin: 1rem 0 1rem;
	}

	.colors-variation .each-color {
		border-radius: 50%;
		cursor: pointer;
		margin: 7px;
		margin: 0 2rem;
		height: 30px;
		width: 30px;
		border: 2px solid #000000;
	}

	#desc ul {
		padding-left: 20px;
	}

	.each-color.active {
		border: 2px solid #8E1F1E;
	}

	.panel-body table {
		white-space: nowrap;
	}

	.glass-case {
		z-index: 9;
	}

	.gc-display-area,
	.glass-case ul li {
		border: 0;
	}

	.gc-zoom-area {
		top: -70px !important;
		width: 70vh !important;
		height: 80vh !important;
		box-shadow: 0 4px 20px 2px rgba(0, 0, 0, .2) !important;
		border: 0 !important;
	}

	.gc-thumbs-area-next .gc-icon-next,
	.gc-icon-prev {
		color: #000 !important;
	}

	.gc-icon.gc-icon-next {
		color: #6d6868 !important;
	}

	.desktop-show {
		display: block;
	}

	.mobile-show {
		display: none;
	}


	.footer-abv {
		border-top: .3rem solid #8E1F1E;
		padding-top: 4rem;
	}

	#globalOffer,
	#shadow-b,
	.color-img,
	.right-b,
	.gc-display-area {
		padding: 1rem 0;
	}

	#globalOffer ul {
		padding-left: 15px;
	}

	.align-colorRelated a {
		font-weight: 500;
	}

	.align-colorRelated a:hover,
	.align-colorRelated .color-img:hover a {
		color: #8E1F1E;
		text-decoration: none;
	}

	.gc-overlay-area {
		top: 130px !important
	}

	.gc-overlay-container {
		height: 85%;
	}

	.availability-b {
		font-size: 14px;
		font-weight: 00;
	}

	.availability-b span {

		font-weight: 400;
	}

	.prod-code {
		font-size: 14px;
		font-weight: 500;
	}

	.prod-code span {
		font-weight: 400;
	}

	.pincode-del,
	.cart-b,
	.price-breakup,
	.price-d,
	.available,
	.questions-b {
		margin: 1.5rem 0 0 !important;
	}

	.pincode-del {
		margin-bottom: 1.5rem !important;
	}

	.price-breakup .price-breakup-title {
		font-weight: 600;
		font-size: 13px;
	}

	.price-breakup ul {
		display: flex;
		list-style: none;
		padding-left: 0;
	}

	.price-breakup ul li {
		text-align: center;
		background: #fff !important;
		width: 100% !important;
		border-right: 2px solid #beb8b8;
		padding-right: 20px;
		padding-left: 0;
	}

	.price-breakup .breakup-b {
		font-size: 13px;
		display: grid;
		align-items: center;
		font-weight: 600;
	}

	.available {
		display: flex;
	}

	.btn-primary.focus,
	.btn-primary:focus,
	.btn-primary:not(:disabled):not(.disabled):active:focus {
		box-shadow: 0 0 0 0.2rem transparent;
	}

	.available .each-avail {
		padding: 1rem;
		margin-right: 1rem;
		font-size: 13px;
		font-weight: 600;
		background-color: #f4f1e6;
		display: grid;
		align-content: flex-start;
	}

	.available .each-avail a {
		text-decoration: none;
		color: #000 !important;
		text-align: right;
		font-size: 10px;
		margin-top: 6px;
	}

	.available .each-avail select {
		width: 130px;
		height: 30px;
	}

	.available .each-avail select::after {
		content: "\f107";
		float: right;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		color: #000;
		font-size: 24px;
		background: #fff;
		position: absolute;
		padding: 1px 0px 0px 5px;
		width: 25px;
		height: 24px;
		right: 1px;
		top: 5px;
		border-left: 1px solid #aeaeae !important;
		padding-left: 5px !important;
		line-height: 22px;
	}

	.questions-b {
		display: flex;
		justify-self: flex-start;
	}

	.questions-b .q-left {
		display: grid;
	}

	.questions-b .q-left p {
		margin-bottom: 0;
		font-size: 13px;
	}

	.questions-b .q-left a {
		text-decoration: none;
		font-weight: 600;
		font-size: 15px;
		padding-right: 1rem;
	}

	.questions-b .contact-box {
		display: flex;
		justify-self: flex-start;
	}

	.questions-b .q-right {
		display: flex;
		padding: 0 2rem;
		align-items: center;
	}

	.questions-b .q-right p {
		font-weight: 600;
		text-align: center;
		font-size: 14px;
		margin-bottom: 0;


	}

	.assurance-b {
		margin-top: 2rem;
		margin-bottom: 0;
		background-color: #f4f1e6;
	}

	.assurance-b .offers-img img:first-child {
		padding: 1rem 0;
	}

	.assurance-b .assurance-item {
		display: grid;
		text-align: center;
		padding: 1rem;
		font-size: 13px;
	}

	.assurance-b .assurance-item a {
		padding-left: 15px;
		background-color: white;
		padding: 20px;
	}

	.assurance-b .assurance-item a img {
		width: auto;
		height: 60px;
	}

	.assurance-b .assurance-item h3 {
		font-size: 13px;
		margin-top: .5rem;
		font-weight: 600;
	}

	.prod-details-tab {
		margin: 1.5rem auto;
		background-color: #f4f1e6;
		padding: 0;
	}

	.prod-details-tab .nav-tabs {
		border-bottom: 0 !important;
	}

	.prod-details-tab li a.active h6 {

		background-color: #ffffff;
	}

	.prod-details-tab ul a {
		text-decoration: none;
		color: #000;
	}

	.prod-details-tab ul li {
		text-align: center;
		font-size: 13px;
		width: 50%;
	}

	.prod-details-tab ul li h6 {
		font-size: 15px;
		font-weight: 600;
		width: 100%;
		padding: 10px 0;
	}

	.prod-details-tab .tab-pane {
		padding: .6rem;
	}

	#brand_desc {
		font-size: 14px;
	}

	.wishlist-icon i {
		cursor: pointer;
	}

	.wishlist-icon i:hover {
		color: red;
	}

	@media only screen and (max-width: 767px) {


		.desktop-show {
			display: none;
		}

		.mobile-show {
			display: block;
		}

		.panel-body {
			overflow-x: scroll;
		}



		.prod-info {
			margin-top: 2rem;
		}

		.mob-p-0 {
			padding: 0 !important
		}

		.one-tab {
			display: -webkit-box;
			margin-bottom: 1rem;
		}

		.colors-variation .each-color {
			border-radius: 50%;
			cursor: pointer;
			margin: 7px;
			margin: 2rem;
			height: 30px;
			width: 30px;
			border: 2px solid #000000;
		}

		.each-color.active {
			border: 2px solid #8E1F1E;
		}

		#accordion a {
			width: 20%;
		}

		.main-title {
			font-size: 15px !important;
			margin-bottom: 8px !important;
		}
	}
</style>

@{if repository.preview}
<br />
<div id="CMS">
	@{if repository.page && repository.page.body}
	<!-- RENDER UPDATED CONTENT -->
	@{!repository.page.body}
	@{else}
	<!-- DEFAULT CONTENT FOR NEW PAGES FO THIS TEMPLATE -->
	<div class="CMS_widgets" data-cms-category="Content,Columns"></div>
	@{fi}
</div>
@{else}

@{fi}

<!--Zooming Library code begin-->

<div class="container prod-details">

	<div class="row m-0">
		<div class="row prod-details m-0" style="width: 100%;">
			<div class="prod-img col-md-5 p-r-0 desktop-show">
				<div class="row m-0" style="height: 100%;">

					@{if model.pictures && model.pictures.length}

					<div class="clearfix" style="width: 100%;">

						<ul id="glasscase" class="gc-start ">
							@{foreach m in model.pictures}
							<li><img src="https://khimji.s3.amazonaws.com/khimji/@{m}.jpg" alt="@{model.name}"
									data-gc-caption="@{model.name} @{index}" /></li>
							@{end}

						</ul>
					</div>

					@{fi}
				</div>

			</div>
			<div class="prod-img col-md-5 p-r-0 mobile-show">
				<div class="row m-0" style="height: 100%;">

					@{if model.pictures && model.pictures.length}

					<div class="clearfix" style="width: 100%;">


						<ul id="glasscase2" class="gc-start ">
							@{foreach m in model.pictures}
							<li><img src="https://khimji.s3.amazonaws.com/khimji/@{m}.jpg" alt="@{model.name}"
									data-gc-caption="@{model.name} @{index}" /></li>
							@{end}

						</ul>


					</div>

					@{fi}
				</div>

			</div>

			<div class="prod-info d-flex col-md-7 p-r-0 mob-p-0 ">
				<div class="mr-4 mt-1 wishlist-icon desktop-show">
					<i class="fa fa-heart-o" onclick="addToWishlist('@{model.id}')" aria-hidden="true"></i>
				</div>
				<div class="prod-other-info">
					<h1 class="main-title">@{title} <span class="mobile-show"><i class="fa fa-heart-o" onclick="addToWishlist('@{model.id}')" aria-hidden="true"></i></span></h1>

					<h6 class="prod-code"> <span>Product Code : </span>@{model.id}</h6>
					<h6 class="availability-b"><span>Availability : </span> Make To Order</h6>

					<div class="total-view-b">
						<div class="price-d">
							<table style="width:100%">
								<tr>
									<td><b>Price</b> </td>
								</tr>
								@{if model.mrp}
								@{if model.booking_type == 'pre-booking'}

								<tr>
									<!-- <td><span>Our Price </span></td> -->
									<td><span class="p-c" data-value="@{model.mrp}"> @{model.mrp}</span></td>
								</tr>
								<tr>
									<td><span>Pre-Booking </span></td>
									<td><span class="p-c price-v" data-value="@{model.payPrice}">@{model.payPrice}
										</span>
									</td>
								</tr>

								@{else if model.mrp != model.payPrice}
								<tr>
									<!-- <td>
											<span>Our Price </span>
										</td> -->
									<td><span class="p-c price-v" data-value="@{model.payPrice}">
											@{model.payPrice}
										</span>

									</td>
								</tr>
								<tr>
									<!-- <td><span>M.R.P.</span></td> -->
									<td><span class="p-c mrp-v" data-value="@{model.mrp}"> @{model.mrp}</span></td>
								</tr>

								<tr>
									<!-- <td><span>You Save </span></td> -->
									<td><span class="p-c save-v" data-value="@{model.mrp - model.payPrice}">
											@{model.mrp - model.payPrice} <br> Inclusive of all
											taxes</span>
									</td>
								</tr>
								@{else}
								<tr>
									<!-- <td>
											<span>Our Price </span>
										</td> -->
									<td><span class="p-c price-v" data-value="@{model.payPrice}">
											@{model.payPrice} </span>
										<!-- <span style="color: #fff;
											background-color: #8E1F1E;
											padding: 3px 9px;
											border-radius: 4px;">Free
												Delivery</span> -->
									</td>
								</tr>
								@{fi}
								@{else}
								<tr>
									<!-- <td><span>Our Price</span></td> -->
									<td><span class="p-c price-v" data-value="@{model.payPrice}">
											@{model.payPrice} </span> <span style="color: #000;">Free
											Delivery</span></td>
								</tr>
								@{fi}
							</table>


						</div>
						<div class="available-cars">
							@{if model.ColorRelated}
							<h6 style="text-transform: uppercase;font-weight: 700;
							font-size: 13px;margin: 20px 0;">Available Colors </h6>
							<div class="mob-hide">


								<div class="each-color-r row ">
									@{foreach each in model.ColorRelated}
									<div class="align-colorRelated col-2" style="display: grid;text-align: center;">

										@{if each.pictures.length != 0}



										<div class="color-img" style="padding: 10px;margin-bottom: 5px;">
											<img src="https://khimji.s3.amazonaws.com/khimji/@{each.pictures[0]}.jpg"
												alt="" style="width: auto;height: 70px;">
										</div>

										@{fi}

										<a href="/@{each.linker}" style="font-size: 10px;">@{each.name}</a>
										<br>
									</div>

									@{end}
								</div>
							</div>
							<div class="mobile-view">
								<div class="row">
									@{foreach each in model.ColorRelated}

									<div class="align-colorRelated col-4" style="display: grid;text-align: center;">

										@{if each.pictures.length != 0}



										<a href="/@{each.linker}" class="color-img"
											style="padding: 10px;margin-bottom: 5px;">
											<img src="https://khimji.s3.amazonaws.com/khimji/@{each.pictures[0]}.jpg"
												alt="" style="width: auto;height: 70px;">
										</a>

										@{fi}

										<a href="/@{each.linker}" style="font-size: 10px;">@{each.name}</a>
										<br>
									</div>

									@{end}
								</div>
							</div>

							@{fi}
						</div>

						<!-- Availability begin -->
						<div class="available">
							<div class="each-avail">
								<label for="">Size : </label>
								<select name="" id="">
									<option value="@{model.dimension_info.size}">@{model.dimension_info.size}</option>

								</select>
								<a href="#">Ring Size Guide?</a>
							</div>
							<div class="each-avail">
								<label for="">Gold Color : </label>
								<select name="" id="">
									<option value="@{model.metal_info.color}">@{model.metal_info.color}</option>

								</select>
							</div>
						</div>
						<!-- Availability end -->
						<!-- price breakup block begin -->
						<!-- @{if model.price_breakup}
					<div class="price-breakup">
						<span class="price-breakup-title">Price Breakup</span>
						<ul>
							@{if model.price_breakup.gold}
							<li>
								<div class="breakup-b">
									<span>Gold</span>
									<span>Rs. @{model.price_breakup.gold}</span>
								</div>

							</li>
							@{fi}
							@{if model.price_breakup.diamond}
							<li>
								<div class="breakup-b">
									<span>Diamond</span>
									<span>Rs. @{model.price_breakup.diamond}</span>
								</div>
							</li>
							@{fi}
							@{if model.price_breakup.making}
							<li>
								<div class="breakup-b">
									<span>Making</span>
									<span>Rs. @{model.price_breakup.making}</span>
								</div>
							</li>
							@{fi}
							@{if model.price_breakup.tax}
							<li>
								<div class="breakup-b">
									<span>Tax</span>
									<span>Rs. @{model.price_breakup.tax}</span>
								</div>
							</li>
							@{fi}

						</ul>
						<hr class="pdp-hr-price-breakup">
					</div>
					@{fi} -->
						<!-- Price breakup block end -->
						<!-- @{if model.stock != 0 }
					@{if model.purchase_type == 'Online' } -->

						<div class="pincode-del  m-0" style="display: none;">

							<div class="pin-block ">

								<div class="form-group">
									<!-- <label for="usr">Enter pincode to check availability:</label> -->
									<div class="input-b">
										<input type="text" class="form-control" id="pincode" name="pincode"
											placeholder="Enter Pincode">
										<button type="button" class="btn btn-primary"
											onclick="checkPin()">Check</button>

									</div>
									<div class="del-time">
										(Dispatch by: Tuesday, Dec 22, 20)
										<br>
										<h4 class="pincode-status"></h4>
									</div>

								</div>

							</div>


						</div>
						<br>
						<img src="/img/text.gif" alt="" style="width: 100%;">
						<!-- @{fi}
					@{fi} -->
						<!-- <div class="cart-b">

						<div class="cart-btn2">

							<button type="button" class="btn btn-default prod-comp" id='comparePrice'>compare
								prices</button>
							<div class="emi ">
								<div class="cart-btn" style="margin-bottom: 0;"> <button type="button"
										onclick="getEmiOptions('@{model.payPrice}')" class="btn btn-primary"
										data-toggle="modal" data-target="#myModal-2">EMI Options</button>
								</div>

								<div class="modal fade" id="myModal-2" role="dialog" data-target="#exampleModalCenter">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h3>EMI Options</h3>
												<button type="button" class="close" data-dismiss="modal"
													style="width: auto;border: 0;">&times;</button>
											</div>
											<div class="modal-body" id='emi-view'>

												<div class="panel-group" id="accordion">
													<div class="row">
														<div class="col-md-2">
															<div class="nav flex-column nav-pills one-tab"
																id="v-pills-tab" role="tablist"
																aria-orientation="vertical">

															</div>
														</div>
														<div class="col-md-10">
															<div class="tab-content" id="v-pills-tabContent">

															</div>
														</div>
													</div>

												</div>
											</div>

										</div>

									</div>
								</div>

							</div>
						</div>
						@{if model.stock == 0 }

						<p style="font-weight: 600" class="stock-status">Out of stock</p>

						@{else}
						@{if model.booking_type == 'pre-register'}
						<div class="cart-btn">
							<button type="button" class="btn btn-primary" onclick="verifyWish()">Pre-Register</button>
						</div>
						@{else if model.booking_type == 'pre-booking'}
						<div class="cart-btn"> <button type="button" class="btn btn-primary" id='pre-booking-btn'
								onclick="itemAdd('@{model.id}')">Pre-Booking
							</button>
						</div>

						@{else}

						@{if model.purchase_type == 'Store' }

						<p style="font-weight: 600" class="stock-status">Product Available only in Store</p>
						@{fi}
						 @{if model.purchase_type=='Online' }
						<div class="cart-btn d-flex">
							<button type="button "
								class="btn btn-primary d-flex align-items-center justify-content-around"
								onclick="addToWishlist('@{model.id}')">
								<i style="font-size: 1rem;" class="fa fa-x fa-heart" aria-hidden="true"></i>
								<div class="vl-btns"></div>
								Wishlist
							</button>
							<button class="btn btn-primary d-flex align-items-center justify-content-around"
								data-id='@{model.id}' data-name='@{model.name}' data-idvariant="@{model.id}"
								data-variant="@{model.name}" data-price="@{model.pricemin}"
								onclick="itemAdd('@{model.id}')">
								<i style="font-size: 1rem;" class="fa fa-x fa-shopping-cart" aria-hidden="true"></i>
								<div class="vl-btns"></div>
								Add
								to Cart
							</button>
							<button class="btn btn-primary d-flex align-items-center justify-content-around"
								data-id='@{model.id}' data-name='@{model.name}' data-idvariant="@{model.id}"
								data-variant="@{model.name}" data-price="@{model.pricemin}"
								onclick="buyNow('@{model.id}','buy-now')">
								<i style="font-size: 1rem;" class="fa fa-x fa-shopping-bag" aria-hidden="true"></i>
								<div class="vl-btns"></div>
								Buy Now
							</button>

						</div>
					

						@{fi}
						@{fi}

						@{fi}





					</div> -->
						<button class="btn btn-primary d-flex align-items-center justify-content-around"
							data-id='@{model.id}' data-name='@{model.name}' data-idvariant="@{model.id}"
							data-variant="@{model.name}" data-price="@{model.pricemin}"
							onclick="buyNow('@{model.id}','buy-now')"
							style="display: none !important	;background: linear-gradient(94deg, #8E1F1E 0%, #e14c6a 100%) !important;    height: 45px;width: 48%;">

							Buy Now
						</button>

						<div class="questions-b">
							<div class="q-left">
								<p>Any Questions ? Please contact us at</p>
								<div class="contact-box">
									<a href="tel:+91 22 62300916">
										<i class="fa fa-headphones" aria-hidden="true"></i>
										1800 313 1777</a></p>

									<!-- <a href="https://wa.me/+91 9167780916">
									<i class="fa fa-whatsapp" aria-hidden="true"></i>
									+91 9167780916</a> -->

								</div>
							</div>
							<div class="q-right">
								<p class="bis_container-title">100% Certified by<br> International Standards</p>

								<!-- <ul class="bis">
								<li class="bis1">
									<span class="bis_916"></span>
								 </li>
								<li class="bis2">
									<span class="igi">IGI</span> 
								</li>
							</ul> -->
							</div>
						</div>
						<div class="return-policy mt-3">
							<a href="/pages/return-policy/" style="color: #8E1F1E;text-decoration: none;">
								Return Policy </a>
						</div>

						<!-- <p id="globalOffer"></p>

							@{if model.offerdesc != '-'}
							<p id="offerdesc">@{model.offerdesc}</p>
							@{fi}

							<div id="shadow-b">
								<p style="margin-bottom: 0;" id="desc">@{model.simpledesc}</p>

								<p id='moreinfo'
									style="margin-bottom:0;font-size: 14px;font-weight: 600; cursor: pointer; color: #8E1F1E;">
									show more</p>

							</div> -->




					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="prod-details-tab container " id="moredesc">

	<ul class="nav nav-tabs">
		<li class=""><a data-toggle="tab" href="#home " class="active">
				<h6>Product Details</h6>
			</a></li>
		<li><a data-toggle="tab" href="#menu1" id="brand_id">
				<h6>Brand Description</h6>
			</a></li>
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane fade in active show">
			<div class="col-md-12 p-0">
				@{view('/partials/accessories/gold',model)}
			</div>
		</div>
		<div id="menu1" class="tab-pane fade">
			<div id="brand_desc">

			</div>
		</div>

	</div>


	<script>

		function htmlEntities(str) {
			return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
		}
		$(document).ready(function () {
			$('.p-c').each(function () {

				var val = parseInt($(this).attr('data-value'));
				$(this).html(val.toLocaleString('en-IN', {
					maximumFractionDigits: 2,
					style: 'currency',
					currency: 'INR'
				}));
			});
			var linker = "@{model.linker}";
			$.ajax({
				url: `/${linker}?json=1`,
				success: function (result) {

					if (extractContent(result.brand_desc).trim() == '') {
						$('#brand_id').hide();
					} else {
						$('#brand_id').show();
					}

					$("#brand_desc").html(result.brand_desc);


				}
			});

		});

		function extractContent(s) {
			var span = document.createElement('span');
			span.innerHTML = s;
			return span.textContent || span.innerText;
		};

		function checkPin() {
			console.log("hh");

			$(".pincode-status").html();
			regexp = /^\d{6}$/;

			if (regexp.test($('#pincode').val())) {


				let pin = {
					pinCode: $('#pincode').val(),
					productId: "@{model.id}"
				};

				console.log(pin);
				$.ajax(newBaseUrl + 'api/pincodeVerify', {
					type: 'POST',
					data: pin,
					dataType: 'json', // timeout milliseconds
					success: function (data, status, xhr) { // success callback function
						console.log(data);

						if (data.status) {
							$('.pincode-status').show();
							$('.pincode-status').html(`${data.message}`);
							Swal.fire({
								position: 'center',
								icon: 'success',
								title: data.message,
								showConfirmButton: false,

							});
						} else {
							$('.pincode-status').show();
							$('.pincode-status').html(`${data.message}`);
							Swal.fire({
								position: 'center',
								icon: 'warning',
								title: data.message,
								showConfirmButton: false,


							});
						}

					},
					error: function (jqXhr, textStatus, errorMessage) { // error callback 
						console.log("errror");

					}
				});

			} else {
				$('.pincode-status').show();
				$('.pincode-status').html(`Invalid Pincode`);
			}



		}

	</script>


</div>

<!-- Offers begin -->
<div class="container  assurance-b">
	<div class="m-0 row justify-content-center offers-img">
		<img src="https://static.malabargoldanddiamonds.com/media/wysiwyg/promises_imgs/imgpsh_fullsize_anim_3_.png"
			alt="">
	</div>
	<div class="row m-0 justify-content-center">
		<div class="assurance-item">
			<a title="14 Days Return" href="#"><img class="lazyload" alt="" src="./khimji-assets/return.png">
			</a>
			<h3>
				14 Days <br>
				return</h3>
		</div>
		<div class="assurance-item ">
			<a title="Easy Exchange" href="#"> <img class="lazyload" alt="" src="./khimji-assets/easy.png">
			</a>

			<h3>Easy <br>
				Return</h3>
		</div>
		<div class="assurance-item"><a title="assurance" href="#"><img class="lazyload" alt=""
					src="./khimji-assets/assurance.png">
			</a>
			<h3>Assured<br>
				MAINTENANCE</h3>
		</div>
		<div class="assurance-item "><a title="Certified Jewellery" href="#"> <img class="lazyload" alt=""
					src="./khimji-assets/certified.png">
			</a>
			<h3>CERTIFIED<br> jewellery</h3>
		</div>
		<div class="assurance-item ">
			<a title="Guaranteed Quantity" href="#"><img class="lazyload" alt="" src="./khimji-assets/guranted.png">
			</a>

			<h3>GUARANTEED<br>
				quality</h3>
		</div>

	</div>
</div>
<!-- offers End -->


<script>
	$(document).ready(function () {
		$('.each-carousel:first').addClass('active');
		$('#first-tab1').click();
		$('#first-tab2').click();

		$('#globalOffer').hide();
		// getGlobalOffer();
		imgClick = function (params) {
			$('#change-url').attr("src", params);
		}

		// console.log('@{model.cardslot}');

		console.log('PRE_BOOKING');
		if ($('#pinelabsCode').length != 0) {
			var pinecode = $('#pinelabsCode').attr("data-pinelabsCode");
			if (pinecode.trim() == "") {
				$('#pinelabsCode').hide();
			} else {
				$('.buy-now').hide();
			}
		}
	});
	$(function () {
		$('.each-c').on('click', function () {
			$('.each-c').removeClass('active');
			$(this).addClass('active');
		});
	});


	function exhcnageClick(params) {
		console.log(params);

		itemAdd(params);
		window.location.replace("/exchange");
	}
</script>

<script>
	setTimeout(() => {

		console.log("MARKDOWN");

		var converter = new showdown.Converter();
		var text = $('#desc').html();
		$('#desc').html(converter.makeHtml(text));
		var offertext = $('#offerdesc').html();
		$('#offerdesc').html(converter.makeHtml(offertext));

	}, 1500);


	function getGlobalOffer() {
		let globalOfferObj = {
			category_name: "@{model.category}"
		}
		console.log("GLOBAL");
		$.ajax(newBaseUrl + '/api/product-offers', {
			type: 'POST',
			data: globalOfferObj,
			dataType: 'json', // timeout milliseconds
			success: function (data, status, xhr) { // success callback function
				console.log(data.data.description);
				if (data.status) {
					var converter = new showdown.Converter();
					$('#globalOffer').html(converter.makeHtml(data.data.description));
					$('#globalOffer').show();
				} else {
					$('#globalOffer').hide();
				}

			},
			error: function (jqXhr, textStatus, errorMessage) { // error callback 
				console.log("errror");

			}
		});

	}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="/src_prod/js/jquery.glasscase.min.js" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function () {
		//If your <ul> has the id "glasscase"
		setTimeout(function () {
			$('#glasscase').glassCase({ 'widthDisplay': 370, 'heightDisplay': 550, 'isSlowZoom': true, 'isZoomDiffWH': true, 'zoomWidth': 400, 'zoomHeight': 500, 'zoomAlignment': 'displayArea', 'isDownloadEnabled': false, 'captionType': 'out', 'captionPosition': 'bottom', 'captionAlignment': 'center', 'colorIcons': '#fff', 'colorActiveThumb': '#333' });
		}, 1000);
		setTimeout(function () {
			$('#glasscase2').glassCase({ 'isZoomEnabled': false, 'widthDisplay': 370, 'heightDisplay': 550, 'isSlowZoom': true, 'isZoomDiffWH': true, 'zoomWidth': 400, 'zoomHeight': 500, 'zoomAlignment': 'displayArea', 'isDownloadEnabled': false, 'captionType': 'out', 'captionPosition': 'bottom', 'captionAlignment': 'center', 'colorIcons': '#fff', 'colorActiveThumb': '#333' });
		}, 1000);

	});
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/elevatezoom/3.0.8/jqueryElevateZoom.js"></script>
<script src="/default/js/js-new/ubislider.js"></script>
<script>

	$("#moreinfo").click(function () {
		$('html,body').animate({
			scrollTop: $("#moredesc").offset().top - 30
		},
			'slow');
	});

	$("#comparePrice").click(function () {
		$('html,body').animate({
			scrollTop: $("#compareB").offset().top - 30
		},
			'slow');
	});

	var carts = [];

	function addcartEmi(id, vid, vname, name, price, stock, count, product_code) {
		var token = HASH(id + vid).toString();
		localStorage.removeItem("shoppingcart");

		var carts = [];

		var obj = {
			id: id,
			idvariant: vid,
			variant: vname,
			name: name,
			price: parseInt(price),
			sum: parseInt(price),
			token: token,
			created: new Date(),
			stock: parseInt(stock),
			count: 1
		};

		carts.push(obj);

		localStorage.setItem("product_code", product_code);
		localStorage.setItem("shoppingcart", JSON.stringify(carts));

		Swal.fire({
			position: 'center',
			icon: 'success',
			title: name + ' added to cart',
			showConfirmButton: false,
			timer: 2500
		});


		setTimeout(function () {
			refresh_cart();
			window.location.href = '/checkout/';
		}, 1500);

	}

	function addcart(id, vid, vname, name, price, stock, count, flag) {

		console.log('PRE_BOOKING', $('#pre-booking-btn').html());



		if ($('#pre-booking-btn').html() == "Pre-Booking") {
			localStorage.setItem('prebooking', true);
		}



		if (localStorage.getItem("shoppingcart") == null) {

		} else {
			carts = JSON.parse(localStorage.getItem("shoppingcart"));
		}

		localStorage.removeItem("product_code");

		var token = HASH(id + vid).toString();

		var contains = false;

		var obj = {
			id: id,
			idvariant: vid,
			variant: vname,
			name: name,
			price: parseInt(price),
			sum: parseInt(price),
			token: token,
			created: new Date(),
			stock: parseInt(stock),
			count: 1
		};

		for (i = 0; i < carts.length; i++) {

			if (carts[i].id == id && carts[i].idvariant == vid) {
				contains = true;
				carts[i].count += 1;
			}

		}


		//console.log("addcart", carts);
		if (contains != true) {
			carts.push(obj);
		}

		//console.log(carts);

		Swal.fire({
			position: 'center',
			icon: 'success',
			title: name + ' added to cart',
			showConfirmButton: false,
			timer: 2500
		});
		localStorage.setItem("shoppingcart", JSON.stringify(carts));
		setTimeout(function () {
			refresh_cart();
			if (flag == 1) {
				window.location.href = '/checkout/';
			}
		}, 1500);
	}
</script>