<style>
    .prod-i .each-spec h5 {
        margin-bottom: 2rem;
        font-size: 14px;
        font-weight: 600;
    }

    .prod-i .each-spec .each-record {
        display: flex;
        text-transform: capitalize;
        font-size: 13px;
    }

    .prod-i .each-spec .each-record span:first-child,
    .prod-i .each-spec .each-record span:last-child {
        width: 50%;
    }
    .expand-button {
        text-align: right;
    color: red;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;width: fit-content;
    float: right;

    }
</style>
<div class="prod-i">
    <div class="container">
        <div class="row m-0">
            @{if model.basic_info}
            <div class="col-md-4">
                <div class="each-spec">
                    <h5>Basic Information</h5>
                    @{foreach m in model.basic_info}
                    @{if m.value != ""}
                        <div class="each-record">
                            <span class="replace_text"> @{m.key}</span><span> @{m.value}</span>
                        </div>
                        <hr style="margin: 8px 0;">
                        @{fi}
                    @{end}
                </div>


            </div>
            @{fi}
            @{if model.metal_info}
            <div class="col-md-4">
                <div class="each-spec">
                    <h5>Metal Information</h5>
                    @{foreach m in model.metal_info}
                    @{if m.value != ""}
                        <div class="each-record">
                            <span class="replace_text"> @{m.key}</span><span> @{m.value}</span>
                        </div>
                        <hr style="margin: 8px 0;">
                        @{fi}
                    @{end}
                </div>


            </div>
            @{fi}
            @{if model.stone_info}
            <div class="col-md-4">
                <div class="each-spec">
                    <h5>Metal Information</h5>
                    @{foreach m in model.stone_info}
                    @{if m.value != ""}
                    <div class="each-record">
                        <span class="replace_text"> @{m.key}</span><span> @{m.value}</span>
                    </div>
                    <hr style="margin: 8px 0;">
                    @{fi}
                    @{end}
                </div>


            </div>
            @{fi}
        </div>


        <div class="row collapse m-0" id="demo">

            @{if model.certification_info}
            <div class="col-md-4">
                <div class="each-spec">
                    <h5>Metal Information</h5>
                    @{foreach m in model.certification_info}
                    @{if m.value != ""}
                        <div class="each-record">
                            <span class="replace_text"> @{m.key}</span><span> @{m.value}</span>
                        </div>
                        <hr style="margin: 8px 0;">
                        @{fi}
                    @{end}
                </div>


            </div>
            @{fi}
            @{if model.other_info}
            <div class="col-md-4">
                <div class="each-spec">
                    <h5>Metal Information</h5>
                    @{foreach m in model.other_info}
                        @{if m.value != ""}
                        <div class="each-record">
                            <span class="replace_text"> @{m.key}</span><span> @{m.value}</span>
                        </div>
                        <hr style="margin: 8px 0;">
                        @{fi}
                    @{end}
                </div>
            </div>
            @{fi}

            @{if model.diamond_info}
            <div class="col-md-4">
                <div class="each-spec">
                    <h5>Metal Information</h5>
                    @{foreach m in model.diamond_info}
                    @{if m.value != ""}
                        <div class="each-record">
                            <span class="replace_text"> @{m.key}</span><span> @{m.value}</span>
                        </div>
                        <hr style="margin: 8px 0;">
                        @{fi}
                    @{end}
                </div>


            </div>
            @{fi}
            @{if model.dimension_info}
            <div class="col-md-4">
                <div class="each-spec">
                    <h5>Metal Information</h5>
                    @{foreach m in model.dimension_info}
                    @{if m.value != ""}
                        <div class="each-record">
                            <span class="replace_text"> @{m.key}</span><span> @{m.value}</span>
                        </div>
                        <hr style="margin: 8px 0;">
                        @{fi}
                    @{end}
                </div>


            </div>
            @{fi}
        </div>
        <div class="row m-0">
            <div class="col-12 " >
                <div class="expand-button" data-toggle="collapse" data-target="#demo">Product Details</div>
            </div>
          
        </div>
        
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.replace_text').each(function () {

            var val = $(this).html().replace('_', " ");
            $(this).html(val);
        });
        // $('.expand-button').html("View Product Details");
        // const div = document.querySelector('.expand-button');
        // $('.expand-button').click(function () {
        //     $('.expand-button').html("");
        //     console.log(div.classList.contains('collapsed'));
        //     if (div.classList.contains('collapsed')) {
        //         $('.expand-button').html("view Product Details");
        //     } else { $('.expand-button').html("Close Product Details");
                
        //     }
        // });

    });

</script>