<center>
    <h1>Please do not refresh this page...</h1>
 </center>
 <form method="post" action="https://bflpay.in.worldline.com/wlbflcdredirection/bajajredirect.aspx" name="paytm">
    <table border="1">
       <tbody>
          <input type="text" name="DealerID" value="5756">
          <input type="text" name="SealValue" value="@{model.iv}">
          <input type="text" name="EncReqData" value="@{model.EncReqData}">
       </tbody>
    </table>
    <script type="text/javascript">
    
       document.paytm.submit();
    
    </script>
 </form>
