<style>
    /* .nav-outer.modify-container {
        background-image: url('/img/bg-img.png');
        background-repeat: repeat;
    } */

    .centered {
        width: 30%;
        position: absolute;
        left: 5%;
        top: 55%;
        transform: translate(0, -50%);
    }

    .centered input {
        width: 60%;
    }

    .section-title {
        padding-bottom: 0;
    }

    .section-sub-title {
        font-size: 13px;
        text-align: center;
    }

    .title-img {
        text-align: center;
        position: relative;
    }

    .title-img img:first-child {
        width: 150px;
    }

    .title-img img:last-child {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;

    }

    .logos-brands {
        display: flex;
        justify-content: center;

    }

    .logos-brands img {
        margin: 1rem;
        /* height: 50px; */
        width: 100%;
    }
    .container,.nexa-font,.centered {
        font-family: 'Nexa-light' !important;
    }
    body {
		/* font-family: 'Roboto-Light' !important;
		src: url(/font/Roboto-Light.ttf); */
		font-family: 'Nexa-light' !important;
	}

	.nexa-font {
		font-family: 'Nexa-light' !important;
		src: url('/font/Nexa_Light.otf');
	}
    
</style>

<link rel="stylesheet"
    href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet"
    href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Desktop Banners Begin -->
<!-- <button type="button" style="display: none;" class="btn btn-info btn-lg open-pop-modal phonepe" data-keyboard="false"
    data-backdrop="static" data-toggle="modal" data-target="#myModal-pop" style="padding: 0 10px;">Open Modal</button>


<div id="myModal-pop" class="modal fade phonepe" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

         Modal content
        <div class="modal-content">
            <div class="modal-header center" style="display: block;">
                <button type="button" class="close" data-dismiss="modal" id="dontClose"
                    style="position: absolute;right: 15px;padding: 0 10px !important;">&times;</button>

            </div>
            <div class="modal-body" style="padding: 0 !important;">
                <a href="https://www.happimobiles.com/galaxy-unboxing/" target="_blank">
                    <img src="https://d34e6224thkkna.cloudfront.net/happi_media/BNWRNILW-1596720271980.png"
                        alt="Samsung galaxy-unboxing" style="width: 100%;">
                </a>
            </div>
        </div>
    </div>
</div> -->

<div id="myModal-screen-replace" class="modal fade phonepe" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header center" style="display: block;">
                <button type="button" class="close" data-dismiss="modal" id="dontClose"
                    style="position: absolute;right: 15px;padding: 0 10px !important;">&times;</button>

            </div>
            <div class="modal-body" style="padding: 0 !important;">
                <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/t4odTGHxt8E"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div id="myModal-zero" class="modal fade phonepe" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header center" style="display: block;">
                <button type="button" class="close" data-dismiss="modal" id="dontClose"
                    style="position: absolute;right: 15px;padding: 0 10px !important;">&times;</button>

            </div>
            <div class="modal-body" style="padding: 0 !important;">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/hsXT-LZ3mXk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!-- Desktop Banners begin -->
@{if model.homepageJson.bannersDesk && model.homepageJson.bannersDesk.length}
<div id="demo3-desk" class="carousel slide mob-hide phonepe" data-ride="carousel" data-interval="4000">

    <ul class="carousel-indicators">
        @{foreach item in model.homepageJson.bannersDesk }



        <li data-target="#demo3-desk" data-slide-to="@{index}" class="active"></li>
        @{end}
    </ul>

    <div class="carousel-inner" id="desktop-banners-pwa">
        @{foreach item in model.homepageJson.bannersDesk }


        @{if index == 0 }

        <div class="carousel-item hover15  active">
            @{else}
            <div class="carousel-item hover15">
                @{fi}
                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.pictures}" alt="@{item.title}" style="width:100%;">
                    </figure>

                </a>
            </div>
            @{end}

        </div>

        <a class="carousel-control-prev" href="#demo3-desk" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo3-desk" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
@{fi}

<!-- Desktop Banners End -->
<!-- Mobile Banners Begin -->
@{if model.homepageJson.bannersMobile && model.homepageJson.bannersMobile.length}
<div id="demo3-mob" class="carousel slide mobile-view phonepe" data-ride="carousel" data-interval="4000">

    <ul class="carousel-indicators">
        @{foreach item in model.homepageJson.bannersMobile }


        <li data-target="#demo3-mob" data-slide-to="@{index}" class="active"></li>
        @{end}
    </ul>

    <div class="carousel-inner" id="desktop-banners-pwa">
        @{foreach item in model.homepageJson.bannersMobile }


        @{if index == 0 }

        <div class="carousel-item hover15  active">
            @{else}
            <div class="carousel-item hover15">
                @{fi}
                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.pictures}" class="lozad" alt="@{item.title}" style="width:100%;">
                    </figure>

                </a>
            </div>
            @{end}

        </div>

        <a class="carousel-control-prev" href="#demo3-mob" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo3-mob" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>

@{fi}
<!-- Mobile Banners End -->



<!-- ourStores	Scheme begin -->
@{if model.homepageJson.ourStores.length != 0}
<section class="container p-0  each-sec">
    <div class="section-title nexa-font">Our Stores</div>
    <div class="section-sub-title nexa-font">The Khimji Experience</div>
    <div class="title-img"><img src="/img/d2.png" alt="">
        <img src="/img/d1.png" alt="">
    </div>
    <div class="row m-0">
        <div class="col col-md-5 col-xs-12 col-12 store-txt-b">
            <div class="">
                <h5>@{model.homepageJson.ourStores[0].description}</h5>
                <div class="btn-sotres">
                    <span>Shop Collection</span>
                </div>
            </div>
        </div>
        @{foreach item in model.homepageJson.ourStores }
        <div class="col col-xs-12 col-12 col-md-7 each-item p-0">
            <figure>
                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.imgUrl}" alt="@{item.title}" style="width:100%;">
                    </figure>

                </a>
            </figure>
        </div>
        @{end}
    </div>
</section>
@{fi}
<!-- ourStores	Scheme end -->
<!-- ourCollections begin -->

@{if model.homepageJson.ourCollections.length != 0}
<section class="container p-0 each-sec">
    <div class="section-title nexa-font">Our Collections</div>
    <div class="section-sub-title nexa-font">Something For Every Occasion</div>
    <div class="title-img">
        <img src="/img/d2.png" alt="">
        <img src="/img/d1.png" alt="">
    </div>
    <div class="row m-0">
        @{foreach item in model.homepageJson.ourCollections }
        @{if index == 0 || index == 1}
        <div class="col-md-6 col-6 p-c  col-xs-12 each-item">
            <figure>
                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.imgUrl}" alt="@{item.title}" style="width:100%;">
                    </figure>
                </a>
            </figure>
        </div>

        @{else if index != 1 && index != 0}

        <div class="col-md-4 col-4 p-c  col-xs-12 each-item">

            <figure>

                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.imgUrl}" alt="@{item.title}" style="width:100%;">
                    </figure>
                </a>
            </figure>
        </div>
        @{fi}
        @{end}

    </div>


</section>
@{fi}
<!-- ourCollections End -->

<!-- ourPromise Collection begin -->
@{if model.homepageJson.ourPromise.length != 0}
<section class="container p-0 blogs each-sec hover-zoom">
    <div class="section-title nexa-font">Our Promise</div>
    <div class="section-sub-title nexa-font">For Us At Khimji You Matter The Most</div>
    <div class="title-img"><img src="/img/d2.png" alt="">
        <img src="/img/d1.png" alt="">
    </div>
    <div class="row m-0 row-b">
        @{foreach item in model.homepageJson.ourPromise }
        <div class="col-md-3 col-6 each-item our-promise-each" style="text-align: center;">
            <figure>
                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.imgUrl}" alt="@{item.title}">
                    </figure>

                </a>
            </figure>
            <h4>@{item.title}</h4>
        </div>
        @{end}
    </div>
</section>
@{fi}
<!-- ourPromise Collection end -->

<!-- Gifts begin -->

<section class="container p-0  hover-zoom each-sec" style="display: none;">
    <div class="section-title nexa-font">Gifts</div>
    <div class="row m-0">

        <div class="col p-c col-xs-12 each-item">
            <figure>
                <a href="#">
                    <img src="https://www.malabargoldanddiamonds.com/media/wysiwyg/offer_page/2020/11-Nov/india-homepage/gift-card.jpg"
                        alt="" style="width: 100%;">

                </a>
            </figure>
        </div>
        <div class="col p-c col-xs-12 each-item">
            <figure>
                <a href="#" class="hover15">
                    <img src="https://www.malabargoldanddiamonds.com/media/wysiwyg/offer_page/2020/11-Nov/india-homepage/gift-card.jpg"
                        alt="" style="width: 100%;">
                </a>
            </figure>
        </div>

    </div>
</section>
<!-- Gift  end -->


<!-- Engagement rings begin -->
<section class="container p-0 gift-card each-sec" style="display: none;">
    <div class="section-title nexa-font">Engagement rings</div>
    <div class="row m-0">

        <div class="col col-xs-12 each-item">
            <figure>
                <a href="#">
                    <img src="https://www.malabargoldanddiamonds.com/media/wysiwyg/offer_page/2020/07_july/india-homepage/engagement/engagement-bg.jpg"
                        alt="" style="width: 100%;">

                </a>
            </figure>
        </div>

    </div>
</section>
<!-- Engagement rings end -->


<!-- ourCategory begin -->
@{if model.homepageJson.ourCategory.length != 0}
<section class="container p-0 shop-by-category each-sec">
    <div class="section-title nexa-font">Our Categories</div>
    <div class="section-sub-title nexa-font">All You Need Under One Roof</div>
    <div class="title-img"><img src="/img/d2.png" alt="">
        <img src="/img/d1.png" alt="">
    </div>
    <div class="row m-0">
        @{foreach item in model.homepageJson.ourCategory }

        <div class="col-md-3 col-6  col-sm-6  each-item p-c">
            <div class="column1122 hover1122">
                <a target="@{item.target}" href="@{item.link}">
                    <figure><img src="@{item.imgUrl}" /></figure>
                    <span>@{item.title}</span>
            </div>
            </a>
            <!-- <figure>
                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.imgUrl}" alt="@{item.title}" style="width:100%;">
                    </figure>

                </a>
            </figure> -->
        </div>
        @{end}

    </div>
</section>
@{fi}
<!-- ourCategory  end -->


<!-- subscribeUs	Scheme begin -->
@{if model.homepageJson.subscribeUs.length != 0}
<section class="container-fluid p-0  each-sec">
    <div class="section-title nexa-font">Subscribe Us</div>
    <div class="section-sub-title nexa-font">Because We Don't Want To Miss Out</div>
    <div class="title-img"><img src="/img/d2.png" alt="">
        <img src="/img/d1.png" alt="">
    </div>
    <div class="row m-0">
        @{foreach item in model.homepageJson.subscribeUs }
        <div class="col col-xs-12 each-item">
            <figure>
                <figure>
                    <img src="@{item.imgUrl}" alt="@{item.title}" style="width:100%;">
                    <div class="centered mob-hide">
                        <div class="form-group" style="text-align: left;text-transform: capitalize;">
                            <label for="usr">Sign up for our newsletter to recieve special offers,news and great sales
                                notification</label>
                            <div class="d-flex input-group">
                                <input type="text" class="form-control" id="usr">
                                <button class="btn btn-primary">Subscribe us</button>
                            </div>

                        </div>
                    </div>
                </figure>

            </figure>
        </div>
        <div class="col-md-12">
            <div class=" mobile-view">
                <div class="form-group" style="text-align: left;text-transform: capitalize;">
                    <label for="usr">Sign up for our newsletter to recieve special offers,news and great sales
                        notification</label>
                    <div class="d-flex input-group">
                        <input type="text" class="form-control" id="usr">
                        <button class="btn btn-primary">Subscribe us</button>
                    </div>

                </div>
            </div>
        </div>
        @{end}
    </div>
</section>
@{fi}
<!-- subscribeUs Scheme end -->

<!-- redemption	Scheme begin -->
@{if model.homepageJson.redemption.length != 0}
<section class="container p-0  each-sec">
    <div class="section-title nexa-font">Offer And Redemption</div>
    <div class="section-sub-title nexa-font">The Best Deals In The City</div>
    <div class="title-img"><img src="/img/d2.png" alt="">
        <img src="/img/d1.png" alt="">
    </div>
    <div class="row m-0">
        @{foreach item in model.homepageJson.redemption }
        <div class="col col-xs-12 each-item">
            <figure>
                <a target="@{item.target}" href="@{item.link}">
                    <figure>
                        <img src="@{item.imgUrl}" alt="@{item.title}" style="width:100%;">
                    </figure>

                </a>
            </figure>
        </div>
        @{end}
    </div>
</section>
@{fi}
<!-- redemption	Scheme end -->

<!-- Follow	Us begin -->
<section class="container p-0  each-sec follow-us">
    <div class="section-title nexa-font">follow us on</div>
    <div class="section-sub-title nexa-font">#khimji offical</div>
    <div class="title-img"><img src="/img/d2.png" alt="">
        <img src="/img/d1.png" alt="">
    </div>
    <div class="row m-0">

        <div class=" each-item">
            <div class="d-flex">
                <a rel="noreferrer" href="https://www.facebook.com/Khimjilive/" target='_blank' class="each-icon">
                    <img src="/img/fb.png" alt="fb">
                </a>

                <a rel="noreferrer" href="https://twitter.com/KhimjiOfficial?s=08" target='_blank' cclass="each-icon">
                    <img src="/img/twitter.png" alt="twitter">
                </a>

                <a rel="noreferrer" href="https://www.instagram.com/khimjijewellersofficial/?igshid=309el4a2265x"
                    target='_blank' class="each-icon">
                    <img src="/img/inst.png" alt="inst">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container p-0 m-b-0 ">
    <div class="section-title nexa-font">partner brands</div>
    <div class="title-footer"><img src="/img/d2.png" alt=""></div>
    <div class="logos-brands row m-0">
        <img src="./home-img/partnerbrand.jpg" alt="client-logos">
        <!-- <img src="./img/COMPANY_LOGOS-02.png" alt="COMPANY_LOGOS" class="col-md-2">
        <img src="./img/COMPANY_LOGOS-03.png" alt="COMPANY_LOGOS" class="col-md-2">
        <img src="./img/COMPANY_LOGOS-04.png" alt="COMPANY_LOGOS" class="col-md-2">
        <img src="./img/COMPANY_LOGOS-05.png" alt="COMPANY_LOGOS" class="col-md-2">
        <img src="./img/COMPANY_LOGOS-06.png" alt="COMPANY_LOGOS" class="col-md-2">
        <img src="./img/COMPANY_LOGOS-07.png" alt="COMPANY_LOGOS" class="col-md-2"> -->
    </div>
    <!-- <div class="row m-0">
        <div class="col col-xs-12 p-0 each-item">
            <img src="/img/footer1.png" alt="" style="width: 100%;">
          
        </div>
    </div> -->
</section>

<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>



<SCript>
    $(document).ready(function () {
        var isContains = navigator.userAgent.indexOf("phonepe");

        if (isContains == -1) {
            setTimeout(() => {
                $('.open-pop-modal').click();
            }, 3000);
        }


    });

    var owl = $('.owl-carousel');
    owl.owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 1000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: true
            },
            1000: {
                items: 6,
                nav: true,
            }
        }
    });
</SCript>